<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">إضافة Media</h4>
      <el-button type="submit" class="btn pull-left" @click="Back">رجوع</el-button>

    </div>

    <div class="card-body">
      <el-tabs type="card" v-model="activeName">
        <el-tab-pane label="صور" name="first">
            <el-form>

                <!----------------------بيانات الصور ------------------------>

                <el-divider content-position="right">
                    بيانات الصور
                </el-divider>
                <div class="row" v-loading="oldImagesLoading">
                    <div class="col-md-2" v-for="(image,index) in oldImages">
                        <div class="check-image">
                            <input type="checkbox" :id="image.imageId"
                                   :value="image.imageId" v-model="checkedImages" />
                            <label :for="image.imageId">
                                <img :src="image.path" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <el-button @click="deleteOldImages">حذف</el-button>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <el-upload class="upload-demo" drag
                                   action="" ref="upload"
                                   :before-remove="handleRemove" :auto-upload="false"
                                   :on-exceed="handleExceed"
                                   :limit="10 - oldImages.length"
                                   :on-change="handleAvatarSuccess" list-type="picture"
                                   multiple>
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">اختر الصور المراد تحميلها <em>اضغط هنا</em></div>
                            <div class="el-upload__tip" slot="tip">عدد الصور التي يمكن تحميلها هي 10 صور</div>
                        </el-upload>

                    </div>
                </div>
                <div class="row">
                    <div class="el-alert el-alert--info is-light">
                        <div class="col-md-12">
                            <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click="submitUpload()">
                                تحميل الصور
                            </el-button>
                        </div>
                    </div>
                </div>
            </el-form>
        </el-tab-pane>
        <el-tab-pane label="فيديو" name="second">
          <el-form>

            <div class="clearfix"></div>
            <!----------------------بيانات الفيديو ------------------------>

            <el-divider content-position="right">
              بيانات الفيديو
            </el-divider>

            <div class="row">
              <div class="col-md-6">
                <ele-upload-video :fileSize="20" @error="handleUploadError" 
                                  :responseFn="handleResponse"
                                  @remove="deleteVideo"
                  :action="`https://a.naqra.ly/api/hallbranches/addVideo?hallBranchId=${hallBranchId}`" title="اضغط هنا لتحميل الفيديو"
                  v-model="video">
                </ele-upload-video>
                <div class="el-upload__tip" slot="tip">يرجي تحميل ملف لا يزيد عن 10mb</div>
              </div>
            </div>
          </el-form>
        </el-tab-pane>
      </el-tabs>



      <!-- <div class="el-alert el-alert--info is-light">
        <div class="col-md-12">
          <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="addItem()">إضافة فرع
            الصالة
          </el-button>
        </div>

      </div> -->
    </div>
  </div>
</div>