<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title ">Simple Table</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-info">
              <th>ID</th>
              <th>Name</th>
              <th>Country</th>
              <th>City</th>
              <th>Salary</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td> Oud-Turnhout</td>
                <td class="text-primary">$36,738</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td> Oud-Turnhout</td>
                <td class="text-primary">$36,738</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td> Oud-Turnhout</td>
                <td class="text-primary">$36,738</td>
              </tr>
            </tbody>
            <div>


              
            </div>
          </table>
        </div>
        <el-pagination layout="prev, pager, next" :page-size="pageSize" :total="total"
                @current-change="PageChanged">
              </el-pagination>
      </div>
    </div>
  </div>
</div>