<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info table-header">
            <h4 class="card-title">إضافة محل</h4>
            <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

        </div>
        <!----------------------بيانات المحل------------------------>

        <div class="card-body">
            <el-form :model="storeData" :rules="rules" ref="storeData">
                <el-divider content-position="right">
                    بيانات المحل
                </el-divider>

                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اسم المحل</label>
                                    <el-form-item prop="storeName">
                                        <el-input type="text" class="form-control" v-model="storeData.storeName"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">نوع المحل</label>
                                    <el-form-item prop="storeTypeId">
                                        <el-select v-model="storeData.storeTypeId" v-loading="loading">
                                            <el-option v-for="storeType in storeTypes"
                                                       :key="storeType.storeTypeId"
                                                       :label="storeType.description"
                                                       :value="storeType.storeTypeId">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اسم المالك</label>
                                    <el-form-item prop="ownerName">
                                        <el-input type="text" class="form-control" v-model="storeData.ownerName"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">رقم الهاتف 1</label>
                                    <el-form-item prop="phoneNo1">
                                        <el-input type="text" class="form-control" v-model="storeData.phoneNo1"></el-input>
                                    </el-form-item>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">رقم الهاتف 2</label>
                                    <el-form-item prop="phoneNo2">
                                        <el-input type="text" class="form-control" v-model="storeData.phoneNo2"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">البريد الالكتروني</label>
                                    <el-form-item prop="email">
                                        <el-input type="text" class="form-control" v-model="storeData.email"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">شعار المحل</label>
                                    <el-form-item prop="logo">
                                        <el-upload class="avatar-uploader"
                                                   action=""
                                                   :auto-upload="false"
                                                   ref="upload"
                                                   :on-change="handleAvatarSuccess"
                                                   accept="image/*"
                                                   list-type="picture"
                                                   :show-file-list="false">
                                            <img v-if="storeData.logo" :src="storeData.logo" class="avatar">
                                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                        </el-upload>
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="clearfix"></div>
                <!-- </el-form> -->
                <!-- </div> -->
                <!----------------------بيانات الفرع الرئيسي------------------------>
                <!-- <div class="card-body"> -->
                <el-divider content-position="right">
                    بيانات الفرع الرئيسي
                </el-divider>

                <!-- <el-form :model="storeData" :rules="rules" ref="storeData"> -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">العنوان</label>
                            <el-form-item prop="storeBranch.addressId">
                                <el-select v-model="storeData.storeBranch.addressId" v-loading="loading">
                                    <el-option v-for="address in addresses"
                                               :key="address.addressId"
                                               :label="address.addressName"
                                               :value="address.addressId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">تفاصيل العنوان</label>
                            <el-form-item prop="storeBranch.addressDescription">
                                <el-input type="text" class="form-control" v-model="storeData.storeBranch.addressDescription"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 1</label>
                            <el-form-item prop="storeBranch.phoneNo1">
                                <el-input type="text" class="form-control" v-model="storeData.storeBranch.phoneNo1"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 2</label>
                            <el-form-item prop="storeBranch.phoneNo2">
                                <el-input type="text" class="form-control" v-model="storeData.storeBranch.phoneNo2"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط الطول</label>
                            <el-form-item prop="storeBranch.longitude">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control"
                                                 v-model="storeData.storeBranch.longitude"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط العرض</label>
                            <el-form-item prop="storeBranch.latitude">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control" v-model="storeData.storeBranch.latitude">
                                </el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">ساعات العمل</label>
                            <el-form-item prop="storeBranch.timeRange">
                                <el-time-picker is-range v-model="storeData.storeBranch.timeRange"
                                                @change="setAllAppointments" range-separator="-"
                                                start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                format="HH:mm" value-format="HH:mm:ss">
                                </el-time-picker>
                            </el-form-item>
                        </div>
                    </div>


                </div>
                <div class="clearfix"></div>
                <!----------------------بيانات مواعيد المحل------------------------>


                <el-divider content-position="right">
                    بيانات مواعيد المحل
                </el-divider>


                <div class="row" style="display:flex">
                    <div v-for="(appointmant,index) in storeData.storeBranch.storeAppointments">
                        <el-form style="display:flex" class="view-form"
                                 :model="appointmant" ref="storeAppointments"
                                 :rules="appointmentRules">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اليوم</label>
                                    <el-form-item>
                                        <label>{{appointmant.workDayId | dayName}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bmd-label-floating">ساعات العمل</label>
                                    <el-form-item prop="timeRange">
                                        <el-time-picker is-range v-model="appointmant.timeRange" range-separator="-"
                                                        start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                        format="HH:mm" value-format="HH:mm:ss">
                                        </el-time-picker>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-2" v-if="storeData.storeBranch.storeAppointments.length > 1">
                                <div class="form-group">
                                    <label class="bmd-label-floating"></label>
                                    <el-form-item>
                                        <button type="submit" @click.prevent="deleteDay(index)"
                                                class="btn btn-info pull-left">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </el-form-item>
                                </div>
                            </div>
                        </el-form>
                    </div>
                </div>
                <!----------------بيانات المستخدم للفرع الرئيسي--------------->
                <el-divider content-position="right">
                    بيانات المستخدم
                </el-divider>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">اسم المستخدم</label>
                            <el-form-item prop="farhiUser.userName">
                                <el-input type="text" class="form-control" v-model="storeData.farhiUser.userName"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">اسم الدخول</label>
                            <el-form-item prop="farhiUser.loginName">
                                <el-input type="text" class="form-control" v-model="storeData.farhiUser.loginName"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">كلمة المرور</label>
                            <el-form-item prop="farhiUser.password">
                                <el-input type="text" class="form-control" v-model="storeData.farhiUser.password"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 1</label>
                            <el-form-item prop="farhiUser.userPhoneNo1">
                                <el-input type="text" class="form-control" v-model="storeData.farhiUser.userPhoneNo1"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 2</label>
                            <el-form-item prop="farhiUser.userPhoneNo2">
                                <el-input type="text" class="form-control" v-model="storeData.farhiUser.userPhoneNo2"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">البريد الالكتروني</label>
                            <el-form-item prop="farhiUser.userEmail">
                                <el-input type="text" class="form-control" v-model="storeData.farhiUser.userEmail"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                </div>

                <div class="el-alert el-alert--info is-light">
                    <div class="col-md-12">
                        <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click="addItem()">
                            إضافة المحل
                        </el-button>
                    </div>
                </div>
            </el-form>
        </div>
    </div>
</div>