﻿<template src="./Index.html">
</template>

<script>
    import Add from './actions/Add'
    import Edit from './actions/Edit'
    import Details from './details/Details'
    export default {
        components: {
            Add,
            Edit,
            Details,
        },
        created(){
            this.getAll();
            this.$store.dispatch('lookup/getAllHallBranches')
        },
        
        watch: {

            dialog(val) {
                val || this.closeDialog()
            },
            'filter.date': function (){
                this.reload();
            },
        },
        computed: {
            hallReservations() {
                return this.$store.state.hallReservations.hallReservations
            },
            total() {
                return Math.floor(this.$store.state.hallReservations.total / this.filter.pageSize);
            },
            allHallBranches() {
                return this.$store.state.lookup.allHallBranches
            },
            loading(){
                return this.$store.state.lookup.loading
            },
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                hallBranchId: 0,
                date: "",
            },
            dialog: false,
            dialogOperation: "",
            headers: [
                { text: 'تاريخ الحجز', value: 'reservationDate' },
                { text: 'اسم الزبون', value: 'customerName',},
                { text: 'الصالة', value: 'hallName' },
                { text: 'عدد الحجوزات', value: 'apponiments' },
                { text: 'منشا بواسطة', value: 'createdBy' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
        }),


        methods: {
            getAll() {
                this.$store.dispatch('hallReservations/getAll', this.filter);
            },
            add() {
                this.view = 1;
            },
            edit(item) {
                this.itemId = item.hallReservationId;
                this.view = 2;
            },
            details(item) {
                this.itemId = item.hallReservationId;
                this.view = 3;
            },

            accept(item) {
                this.itemId = item.hallReservationId
                this.dialog = true
                this.dialogOperation = "accept"
            },
            reject(item) {
                this.itemId = item.hallReservationId
                this.dialog = true
                this.dialogOperation = "reject"
            },
            dialogConfirm() {
                this.$store.dispatch(`hallReservations/${this.dialogOperation}`, this.itemId).then(()=>{
                    this.closeDialog()
                })
            },

            closeDialog() {
                this.dialog = false
                this.dialogOperation = ""
                this.itemId = null;
            },


            reload() {
                this.filter.pageNo = 1;
                this.getAll();
            },
            reloadPage(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>