<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">حقل إدخال (غير مفعل)</label>
                <el-form-item>
                  <el-input type="text" class="form-control" disabled></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">حقل إدخال</label>
                <el-form-item>
                  <el-input type="text" class="form-control" v-model="x"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">إختيار متعدد</label>
                <el-form-item>
                  <el-select v-model="y">
                    <el-option label="ecece" value="1"></el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">تاريخ</label>
                <el-form-item>
                  <el-date-picker type="date" v-model="z">
                  </el-date-picker>
                </el-form-item>
              </div>
            </div>
          </div>
          
          <button type="submit" class="btn btn-info pull-left">Update Profile</button>
          <div class="clearfix"></div>
        </el-form>
      </div>
    </div>
  </div>

</div>