<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title"> اشتراك </h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
    </div>

    <div class="card-body">
        <el-form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <el-form-item>
                            <el-select @change="getSubscriptionPricesDetails" v-model="subscriptionPriceId" 
                                       v-loading="loading" filterable placeholder="اختر الاشتراك">
                                <el-option v-for="subscription in subscriptionPrices" :label="subscription.description"
                                           :key="subscription.subscriptionPricesId" :value="subscription.subscriptionPricesId">{{subscription.description}}</el-option>
                            </el-select>
                        </el-form-item>
                    </div>
                </div>
            </div>
        </el-form>
        <div class="row">
            <el-table ref="singleTable"
                      :data="subscriptionPricesDetails"
                      highlight-current-row
                      @current-change="selectSubscription"
                      style="width: 100%">
                <el-table-column property="durationTime"
                                 label="الوقت"
                                 width="120">
                </el-table-column>
                <el-table-column property="durationTypeName"
                                 label="المدة"
                                 width="120">
                </el-table-column>
                <el-table-column property="price"
                                 label="السعر">
                </el-table-column>
            </el-table>
        </div>
        

        <div class="el-alert el-alert--info is-light">
            <div class="col-md-12">
                <el-button type="submit" :disabled="!data.hallBranchId || !data.subscriptionPriceDetailsId"
                           class="btn btn-info btn-left add-sale-btn" @click.prevent="addSubscription()">
                    إضافة اشتراك
                </el-button>
            </div>

        </div>
    </div>
  </div>
</div>