<div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title">تعديل الحجز</h4>
        <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
  
      </div>
  
      <div class="card-body">
        <el-form :model="reservationData" :rules="rules" ref="reservationData">
  
          <div class="clearfix"></div>
          <!----------------------بيانات الحجز ------------------------>
  
  
          <!-- <el-form :model="reservationData" :rules="rules" ref="reservationData"> -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">اسم او رقم هاتف الزبون</label>
                <el-form-item prop="checkCustomerData">
                  <el-input type="text" class="form-control" v-model="checkCustomerData" @change="checkCustomer"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-8" v-if="reservationsTable.length">
              <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="addResarvation()">حفظ الحجز
              </el-button>
            </div>
          </div>
  
  
          <div class="row" v-if="reservationsTable.length">
  
            <div class="example">
              <table class="table">
                <thead class="text-info">
                  <th>الموعد</th>
                  <th style="width: 600px;">الخدمات</th>
                  <th>تاريخ الحجز</th>
                  <th>اجمالي سعر الحجز</th>
                  <th>حذف</th>
  
                </thead>
                <tbody class="tbody-info">
                  <tr v-for="reservation in reservationsTable">
                    <td>{{reservation.appointmentDescription}}</td>
                    <td>{{reservation.services}}</td>
                    <td>{{reservation.reservationDate}}</td>
                    <td class="text-primary">${{reservation.total}}</td>
                    <td>
                      <i class="material-icons" @click="">delete</i>
                    </td>
                  </tr>
                </tbody>
                <div>
    
    
                </div>
              </table>
            </div>
          </div>
  
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">موعد الحجز</label>
                <el-form-item prop="reservationDate">
                  <el-date-picker
                  v-model="reservationData.reservationDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>         
              </el-form-item>
              </div>
            </div>
          </div>
  
  
          <div class="row" v-if="reservationData.customerData">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">اختر موعد</label>
                <el-form-item prop="appointmentId">
                  <el-radio-group v-model="reservationData.appointmentId">
                    <el-radio-button    @change="dd()"
                    v-for="appointment in appointments" :key="appointment.appointmentId"
                    :label="appointment.appointmentId" border size="medium">{{appointment.appointmentDescription}}
                  </el-radio-button>
  
                  </el-radio-group>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">الخدمات المطلوبة</label>
                <el-form-item prop="services">
                  <el-transfer
                  filterable
                    v-model="reservationData.services"
                    :props="{
                      key: 'hallBranchServiceId',
                      label: 'hallBranchServiceDescription'
                    }"
                    :titles="['Source', 'Target']"
                    :data="hallBranchServices">
                  </el-transfer>
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </el-form>
        <!-- </div> -->
  
        <!-- <div class="card-body"> -->
        <div class="el-alert el-alert--info is-light">
          <div class="col-md-12">
            <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="addToReservations()">إضافة الي جدول الحجز
            </el-button>
          </div>
  
        </div>
      </div>
    </div>
  </div>