<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info table-header">
                    <h4 class="card-title">Slider Management</h4>
                    <el-button type="submit" class="btn pull-left" @click="addToSliderDialog">
                        <i class="material-icons">add</i>
                    </el-button>

                </div>

                <div class="card-body">
                    <div>
                        <el-carousel :autoplay="false" :interval="5000" arrow="always">
                            <el-carousel-item v-for="(slider, index) in sliders" :key="index">
                                <center style="margin-top: 30px;">
                                    <el-button type="danger" @click="deleteSlider(index)" icon="el-icon-delete" circle></el-button>
                                    <el-button type="primary" @click="editSlider" icon="el-icon-edit" circle></el-button>
                                </center>
                                <h3 style="text-align: center;">{{ slider.description }}</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <el-input v-if="editFlag" type="text" class="form-control" v-model="slider.description"></el-input>
                                        </div>
                                    </div>
                                </div>
                                <img :src="'/img/'+slider.path" />
                            </el-carousel-item>
                        </el-carousel>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <el-dialog :visible.sync="addDialog"
               :center="true">
        <div>
            <el-form :model="sliderData" :rules="rules" ref="sliderData">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <el-radio-group v-model="sliderData.customerType">
                                <el-radio-button label="1">صالات</el-radio-button>
                                <el-radio-button label="2">محلات</el-radio-button>
                            </el-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="sliderData.customerType == 1">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">الصالة</label>
                            <el-form-item prop="hallStoreId">
                                <el-select v-loading="loading" v-model="sliderData.hallStoreId">
                                    <el-option v-for="hall in halls" :key="hall.hallId" :label="hall.hallName"
                                               :value="hall.hallId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="sliderData.customerType == 2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">المحل</label>
                            <el-form-item prop="hallStoreId">
                                <el-select v-loading="loading" v-model="sliderData.hallStoreId">
                                    <el-option v-for="store in stores" :key="store.storeId" :label="store.storeName"
                                               :value="store.storeId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="sliderData.hallStoreId">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">الوصف</label>
                            <el-form-item prop="description">
                                <el-input type="text" class="form-control" v-model="sliderData.description"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="sliderData.hallStoreId">
                    <div class="col-md-12">

                        <el-upload class="upload-demo" drag action="" ref="upload" :auto-upload="false"
                                   :on-change="handleAvatarSuccess" list-type="picture">
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                        </el-upload>

                    </div>
                </div>
                <div class="clearfix"></div>
            </el-form>
            <div class="el-alert el-alert--info is-light">
                <div class="col-md-12">
                    <el-button type="submit" class="btn btn-info btn-left add-sale-btn"
                               @click.prevent="add()">
                        اضافة
                    </el-button>
                    <el-button class="btn btn-left add-sale-btn" @click="closeSliderDialog">الغاء</el-button>
                </div>
            </div>
        </div>
    </el-dialog>
</div>