<div>
    <span>
        <vs-icon icon="mood"></vs-icon>
      </span>
      <span>
        <vs-icon icon="child_care" size="small" color="red"></vs-icon>
      </span>
      <span>
        <vs-icon icon="pets" size="medium" color="primary"></vs-icon>
      </span>
      <span>
        <vs-icon icon="android" size="large" color="rgb(70, 150, 0)"></vs-icon>
      </span>
      <span>
        <vs-icon icon="polymer" size="75px" color="#BC1254"></vs-icon>
      </span>
</div>