<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info table-header">
            <h4 class="card-title">إضافة محل</h4>
            <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

        </div>
        <!----------------------بيانات المحل------------------------>

        <div class="card-body">
            <el-form :model="storeBranch" :rules="rules" ref="storeBranch">
                

                <div class="clearfix"></div>
                <el-divider content-position="right">
                    بيانات الفرع 
                </el-divider>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">العنوان</label>
                            <el-form-item prop="addressId">
                                <el-select v-model="storeBranch.addressId" v-loading="loading">
                                    <el-option v-for="address in addresses"
                                               :key="address.addressId"
                                               :label="address.addressName"
                                               :value="address.addressId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">تفاصيل العنوان</label>
                            <el-form-item prop="addressDescription">
                                <el-input type="text" class="form-control" v-model="storeBranch.addressDescription"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 1</label>
                            <el-form-item prop="phoneNo1">
                                <el-input type="text" class="form-control" v-model="storeBranch.phoneNo1"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 2</label>
                            <el-form-item prop="phoneNo2">
                                <el-input type="text" class="form-control" v-model="storeBranch.phoneNo2"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط الطول</label>
                            <el-form-item prop="longitude">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control"
                                                 v-model="storeBranch.longitude"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط العرض</label>
                            <el-form-item prop="latitude">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control" v-model="storeBranch.latitude">
                                </el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">ساعات العمل</label>
                            <el-form-item prop="timeRange">
                                <el-time-picker is-range v-model="storeBranch.timeRange"
                                                @change="setAllAppointments" range-separator="-"
                                                start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                format="HH:mm" value-format="HH:mm:ss">
                                </el-time-picker>
                            </el-form-item>
                        </div>
                    </div>


                </div>
                <div class="clearfix"></div>
                <!----------------------بيانات مواعيد المحل------------------------>


                <el-divider content-position="right">
                    بيانات مواعيد المحل
                </el-divider>


                <div class="row" style="display:flex">
                    <div class="col-md-12" v-if="noneSelectedDays.length > 0">
                        <el-button v-for="(day,index) in noneSelectedDays" @click="addDay(day,index)">إضافة  {{day|dayName}}</el-button>
                    </div>
                    <div v-for="(appointmant,index) in storeBranch.storeAppointments">
                        <el-form style="display:flex" class="view-form"
                                 :model="appointmant" ref="storeAppointments"
                                 :rules="appointmentRules">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اليوم</label>
                                    <el-form-item>
                                        <label>{{appointmant.workDayId | dayName}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bmd-label-floating">ساعات العمل</label>
                                    <el-form-item prop="timeRange">
                                        <el-time-picker is-range v-model="appointmant.timeRange" range-separator="-"
                                                        start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                        format="HH:mm" value-format="HH:mm:ss">
                                        </el-time-picker>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-2" v-if="storeBranch.storeAppointments.length > 1">
                                <div class="form-group">
                                    <label class="bmd-label-floating"></label>
                                    <el-form-item>
                                        <button type="submit" @click.prevent="deleteDay(index)"
                                                class="btn btn-info pull-left">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </el-form-item>
                                </div>
                            </div>
                        </el-form>
                    </div>
                </div>
                
                <div class="el-alert el-alert--info is-light">
                    <div class="col-md-12">
                        <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click="addItem()">
                            إضافة الفرع
                        </el-button>
                    </div>
                </div>
            </el-form>
        </div>
    </div>
</div>