﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل الحجز</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>
        </v-toolbar>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="productReservation.storeName"
                                  readonly
                                  label="اسم المحل" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="productReservation.customerName"
                                  readonly
                                  label="اسم الزبون" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="productReservation.description"
                                  readonly
                                  label="وصف الحجز" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="productReservation.qty"
                                  readonly
                                  label="الكمية" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="productReservation.price"
                                  readonly
                                  label="السعر" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="productReservation.createdBy"
                                  readonly
                                  label="منشأ بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="productReservation.createdOn"
                              readonly
                              label="تاريخ الانشاء" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="productReservation.ModifiedBy"
                                  readonly
                                  label="معدل بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="productReservation.ModifiedOn"
                              readonly
                              label="تاريخ التعديل" >
                </v-text-field>
            </v-col>
        </v-row>
    </v-container>
</div>