﻿<template src="./Index.html">
</template>

<script>
    import Add from './actions/Add'
    import Edit from './actions/Edit'
    import Details from './details/Details'
    export default {
        components: {
            Add,
            Edit,
            Details,
        },
        created(){
            this.getAll();
            this.$store.dispatch('lookup/getAllStoreBranches')
        },
        
        watch: {

            dialog(val) {
                val || this.closeDialog()
            },
        },
        computed: {
            storeReservations() {
                return this.$store.state.storeReservations.storeReservations
            },
            total() {
                return Math.floor(this.$store.state.storeReservations.total / this.filter.pageSize);
            },
            allStoreBranches() {
                return this.$store.state.lookup.allStoreBranches
            },
            loading(){
                return this.$store.state.lookup.loading
            },
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                storeBranchId: 0,
                search: ""
            },
            dialog: false,
            dialogOperation: "",
            headers: [
                { text: 'اسم الزبون', value: 'customerName' },
                { text: 'اسم الخدمة', value: 'description',},
                { text: 'اسم المحل', value: 'storeName' },
                { text: 'السعر', value: 'price' },
                { text: 'منشا بواسطة', value: 'createdBy' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
        }),


        methods: {
            getAll() {
                this.$store.dispatch('storeReservations/getAll', this.filter);
            },
            add() {
                this.view = 1;
            },
            edit(item) {
                this.itemId = item.serviceReservationId;
                this.view = 2;
            },
            details(item) {
                this.itemId = item.serviceReservationId;
                this.view = 3;
            },

            accept(item) {
                this.itemId = item.serviceReservationId
                this.dialog = true
                this.dialogOperation = "accept"
            },
            reject(item) {
                this.itemId = item.serviceReservationId
                this.dialog = true
                this.dialogOperation = "reject"
            },
            dialogConfirm() {
                this.$store.dispatch(`storeReservations/${this.dialogOperation}`, this.itemId).then(()=>{
                    this.closeDialog()
                })
            },

            closeDialog() {
                this.dialog = false
                this.dialogOperation = ""
                this.itemId = null;
            },


            reload() {
                this.filter.pageNo = 1;
                this.getAll();
            },
            reloadPage(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>