<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">انواع حجز الصالة</h4>
        <el-button class="btn pull-left" @click.prevent="change">إضافة نوع جديد <i class="material-icons">add</i></el-button>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                  <el-input type="text" placeholder="بحث" class="form-control" v-model="x"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <el-form-item>
                      <el-date-picker 
                        v-model="dateRange"
                        type="daterange"
                        :picker-options="pickerOptions"
                        start-placeholder="Start date"
                        end-placeholder="End date"
                        align="right">
                    </el-date-picker>
                    <!-- <el-date-picker type="date" v-model="z">
                    </el-date-picker> -->
                  </el-form-item>
                </div>
              </div>
          </div>
        </el-form>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-info">
              <th>رقم الفاتورة</th>
              <th>الزبون</th>
              <th>تاريخ الشراء</th>
              <th>منشأ بواسطة</th>
              <th>الإجمالي</th>
              <th>الإجراءات</th>
            </thead>
            <tbody>
              <tr v-for="invoice in invoices">
                <td>{{invoice.invoiceNo}}</td>
                <td>{{invoice.invoiceName}}</td>
                <td>{{invoice.invoiceDate}}</td>
                <td>{{invoice.invoiceUser}}</td>
                <td class="text-primary">${{invoice.invoiceTotal}}</td>
                <td>
                  <i class="material-icons" @click="status=1">visibility</i>
                  <i class="material-icons" @click="status=2">edit</i>
                  <i class="material-icons" @click="">delete</i>
                </td>
              </tr>
            </tbody>
            <div>


            </div>
          </table>
        </div>
        <el-pagination layout="prev, pager, next" :page-size="pageSize" :total="total" @current-change="PageChanged">
        </el-pagination>
      </div>
    </div>
  </div>
  <!-- <view-hall v-if="status === 1"></view-hall>
  <edit-hall v-if="status === 2"></edit-hall>
  <add-hall v-if="status === 3"></add-hall> -->
</div>