﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل عينة</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="product.storeName"
                                  readonly
                                  label="اسم المحل" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.name"
                                  readonly
                                  label="اسم المنتج" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.description"
                                  readonly
                                  label="وصف المنتج" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.price"
                                  readonly
                                  label="السعر" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.qty"
                                  readonly
                                  label="الكمية" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.category"
                                  readonly
                                  label="الصنف" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.subCategory"
                                  readonly
                                  label="نوع الصنف" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="product.createdBy"
                                  readonly
                                  label="منشأ بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="product.createdOn"
                              readonly
                              label="تاريخ الانشاء" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="product.ModifiedBy"
                                  readonly
                                  label="معدل بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="product.ModifiedOn"
                              readonly
                              label="تاريخ التعديل" >
                </v-text-field>
            </v-col>
        </v-row>
    </v-container>
</div>