<template src="./Details.html">
</template>
<script>

    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('products/getDetails', this.itemId);
        },
        computed: {
            product() {
                return this.$store.state.products.product;
            }
        },
        data: () => ({
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
        },
    }
</script>