<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">عرض بيانات المستخدم</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

    </div>

    <div class="card-body">
      <el-form class="view-form">

        <div class="clearfix"></div>
        <!----------------------بيانات المستخدم ------------------------>

        <el-divider content-position="right">
          بيانات الفرع
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم المستخدم</label>
              <el-form-item >
                <label>{{adminData.adminName}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم الدخول</label>
              <el-form-item >
                <label>{{adminData.loginName}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">البريد الالكتروني</label>
              <el-form-item >
                <label>{{adminData.email}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 1</label>
              <el-form-item >
                <label>{{adminData.phoneNo1}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 2</label>
              <el-form-item >
                <label>{{adminData.phoneNo2}}</label>
              </el-form-item>
            </div>
          </div>

        </div>
        <el-divider content-position="right">
          الصلاحيات
        </el-divider>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <el-alert v-if="!adminData.features.length" title="لا يوجد بيانات" type="warning" :closable="false">
              </el-alert>
              <el-form-item v-else>
                <el-collapse v-model="activeCollapse" accordion>
                  <el-collapse-item v-for="(feature,index) in adminData.features" 
                    :key="index" 
                    :title="feature.featureName" :name="index">
                    <div class="row">
                      <div class="col-2" v-for="permission in feature.permissions">
                        <li>{{permission}}</li>
                      </div>
                    </div>
                  </el-collapse-item>
                </el-collapse>
              </el-form-item>
            </div>
          </div>
        </div>
      </el-form>
    </div>
  </div>
</div>