<div class="row">
    <div class="col-md-12" v-if="status==0">
        <div class="card">
            <div class="card-header card-header-info table-header">
                <h4 class="card-title ">انواع المحلات</h4>
                <el-button class="btn pull-left" @click.prevent="addType"><i class="material-icons">add</i>
                </el-button>
            </div>
            <div class="card-body">
                <el-form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <el-form-item>
                                    <el-input type="text" clearable
                                        @clear="reload" placeholder="بحث" class="form-control"
                                        v-model="filter.search">
                                        <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                                    </el-input>
                                </el-form-item>
                            </div>
                        </div>
                    </div>
                </el-form>
                <div class="table-responsive">
                    <el-alert v-if="!storeTypes.length" title="لا يوجد بيانات" type="warning" :closable="false">
                    </el-alert>
                    <table v-else class="table">
                        <thead class=" text-info">
                            <th>اسم النوع</th>
                            <th>منشأ بواسطة</th>
                            <th>تاريخ الشراء</th>
                            <th>الإجراءات</th>
                        </thead>
                        <tbody>
                            <tr v-for="(storeType,index) in storeTypes">
                                <td>{{storeType.description}}</td>
                                <td>{{storeType.createdBy}}</td>
                                <td>{{storeType.createdOn}}</td>
                                <td>
                                    <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                                        <i class="material-icons" @click="editType(index)">edit</i>
                                    </el-tooltip>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <el-pagination layout="prev, pager, next" :page-size="filter.pageSize" :total="total"
                    @current-change="PageChanged">
                </el-pagination>
            </div>
        </div>
    </div>

    <el-dialog :title="title" :visible.sync="dialogFlag">
        <el-form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">اسم النوع</label>
                        <el-form-item>
                            <el-input v-model="storeType.description" autocomplete="off"></el-input>
                        </el-form-item>
                    </div>
                </div>
            </div>
        </el-form>
        <div class="el-alert el-alert--info is-light">
            <div class="col-md-12">
                <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="dialogOperation">
                    {{title}}
                </el-button>
                <el-button class="btn btn-left add-sale-btn" @click="close">الغاء</el-button>
            </div>
        </div>
    </el-dialog>
</div>