<template src="./Add.html">
</template>
<script>


    export default {
        created() {
            this.getFeatures();
            this.$store.dispatch("lookup/getAllHallBranches")
            this.$store.dispatch("lookup/getAllStoreBranches")
        },
        computed:{
            hallBranches(){
                return this.$store.state.lookup.allHallBranches
            },
            storeBranches(){
                return this.$store.state.lookup.allStoreBranches
            },
            features(){
                return this.$store.state.farhiUsers.features
            },
            loading() {
                return this.$store.state.lookup.loading
            },
        },
        components: {

        },
        data: () => ({
            farhiUser:{
                halls:[],
                stores:[],
                permissions:[],
                password:""
            },
            checkedHalls:[],
            checkedStores:[],
            tab: 0,
            show1: false
        }),
        methods: {
            checkHallBranches(val){
                if(val == 0){
                    let length = this.checkedHalls.length
                    if(length == 0 || length < this.hallBranches.length){
                        this.checkedHalls = []
                        this.hallBranches.forEach(element => {
                            this.checkedHalls.push(element.value)
                        });
                    }
                    else if(length == this.hallBranches.length) this.checkedHalls = []
                    this.checkedHalls = this.checkedHalls.filter(x => x != 0)
                }
            },
            checkStoreBranches(val){
                if(val == 0){
                    let length = this.checkedStores.length
                    if(length == 0 || length < this.storeBranches.length){
                        this.checkedStores = []
                        this.storeBranches.forEach(element => {
                            this.checkedStores.push(element.value)
                        });
                    }
                    else if(length == this.storeBranches.length) this.checkedStores = []
                    this.checkedStores = this.checkedStores.filter(x => x != 0)
                }
            },
            generatePassword(){
                var result = "";
                let lowercases = "abcdefghijklmnopqrstuvwxyz";
                let numbers = "0123456789";
                let uppercases = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                let sympols = "#?!@$%^&*-";
                for ( var i = 0; i < 2; i++ ) {
                    result += lowercases.charAt(Math.floor(Math.random() * lowercases.length));
                    result += numbers.charAt(Math.floor(Math.random() * numbers.length));
                    result += uppercases.charAt(Math.floor(Math.random() * uppercases.length));
                    result += sympols.charAt(Math.floor(Math.random() * sympols.length));
                }
                this.farhiUser.password = result;
                console.log(result)
            },
            back() {
                this.$parent.view = 0;
            },
            getFeatures(){
                this.$store.dispatch("farhiUsers/getFeatures")
            },
            submit() {
                
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.orginizeBranches()
                    this.$store.dispatch('farhiUsers/add', this.farhiUser)
                        .then(() => {
                            this.back();
                        })
                        .catch(() => { });
                    this.clear()
                }).catch(() => {});
            },
            orginizeBranches(){
                this.checkedHalls.forEach(x => {
                    let hallId = this.hallBranches.find(c => c.value == x).hallId
                    let check = this.farhiUser.halls.find(c => c.id == hallId);
                    if(check){
                        check.branches.push(x)
                    }
                    else{
                        this.farhiUser.halls.push({
                            id: hallId,
                            branches: [x]
                        })
                    }
                });

                this.checkedStores.forEach(x => {
                    let storeId = this.storeBranches.find(c => c.value == x).storeId
                    let check = this.farhiUser.stores.find(c => c.id == storeId);
                    if(check){
                        check.branches.push(x)
                    }
                    else{
                        this.farhiUser.stores.push({
                            id: storeId,
                            branches: [x]
                        })
                    }
                });
            },
            clear() {
                this.farhiUser.halls = []
                this.farhiUser.stores = []
                this.$refs.observer.reset()
            },
        },
    }
</script>