﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تعديل مستخدم</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary"  @click="back">
                رجوع
            </v-btn>

        </v-toolbar>
        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="userName" rules="required">
                            <v-text-field :error-messages="errors" v-model="farhiUser.userName" label="إسم المستخدم" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <v-text-field v-model="farhiUser.loginName"
                                  readonly
                                  label="إسم الدخول" >
                        </v-text-field>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="email" rules="required">
                            <v-text-field :error-messages="errors" v-model="farhiUser.email" label="البريد الالكتروني" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="phoneNo1" rules="required">
                            <v-text-field :error-messages="errors" v-model="farhiUser.phoneNo1" label="رقم الهاتف 1" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="phoneNo2" rules="">
                            <v-text-field :error-messages="errors" v-model="farhiUser.phoneNo2" label="رقم الهاتف 2" />
                        </validation-provider>
                    </v-col>
                </v-row>
                <!-- checkedHalls.length, checkedStores.length, farhiUser.permissions -->
                <!-- {{farhiUser.stores}}

                <br/>
{{farhiUser.halls}}

<br/>

{{checkedStores}}<br/>

{{checkedHalls}} -->
                <v-divider class="my-5" />
                <v-card>
                    <v-tabs v-model="tab" background-color="primary" dark>
                        <v-tab>
                            الصالات
                        </v-tab>
                        <v-tab>
                            المحلات
                        </v-tab>
                        <v-tab>
                            الصلاحيات
                        </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab">
                        <v-tab-item v-for="(item,index) in 3" :key="index">
                            <v-card flat>
                                <!--*******************************صالات****************************************-->

                                <v-card-text v-show="tab == 0">
                                    <v-divider />
                                    <validation-provider v-slot="{ errors }" name="checkedHalls" rules="required">
                                        <v-checkbox
                                                v-for="(item, i) in hallBranches" :key="i"
                                                v-model="checkedHalls"
                                                @change="checkHallBranches(item.value)"
                                                :label="item.text"
                                                :value="item.value"/>
                                    </validation-provider>
                                    
                                </v-card-text>
                                <!--*******************************محلات****************************************-->

                                <v-card-text v-show="tab == 1">
                                    
                                    <v-divider />
                                    <validation-provider v-slot="{ errors }" name="checkedStores" rules="required">
                                        <v-checkbox
                                                v-for="(item, i) in storeBranches" :key="i"
                                                v-model="checkedStores"
                                                @change="checkStoreBranches(item.value)"
                                                :label="item.text"
                                                :value="item.value"/>
                                    </validation-provider>
                                </v-card-text>
                                <!--*******************************صلاحيات****************************************-->
                                <v-card class="px-5 py-5" v-show="tab == 2">
                                    
                                    <v-divider />
                                    
                                    <v-expansion-panels >
                                        <v-expansion-panel v-for="feature in features" :key="feature.featureId">
                                            <v-expansion-panel-header>
                                            {{feature.featureName}}
                                            </v-expansion-panel-header>
                                            <v-expansion-panel-content>
                                                <v-checkbox
                                                    v-for="(per, i2) in feature.permissions" :key="i2"
                                                        v-model="farhiUser.permissions"
                                                        :label="per.permissionName"
                                                        :value="per.permissionId"/>
                                            </v-expansion-panel-content>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                        
                                </v-card>
                                
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>

                <v-row no-gutters class="mt-10">
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>
    </v-container>
</div>