<template src="./Edit.html">
</template>
<script>


    export default {
        props:["itemId"],
        created() {
            this.getFeatures();
            this.$store.dispatch("lookup/getAllHallBranches")
            this.$store.dispatch("lookup/getAllStoreBranches")
            this.$store.dispatch("farhiUsers/getForEdit", this.itemId).then(res => {
                this.farhiUser = res
                this.checkedHalls = res.halls
                this.checkedStores = res.stores
                this.orginizeBranches()
            })
        },
        computed:{
            hallBranches(){
                return this.$store.state.lookup.allHallBranches
            },
            storeBranches(){
                return this.$store.state.lookup.allStoreBranches
            },
            features(){
                return this.$store.state.farhiUsers.features
            },
            loading() {
                return this.$store.state.lookup.loading
            },
        },
        components: {

        },
        data: () => ({
            farhiUser:{
                halls:[],
                stores:[],
                permissions:[],
            },
            checkedHalls:[],
            checkedStores:[],
            tab: 0,
            show1: false
        }),
        methods: {
            checkHallBranches(val){
                if(val == 0){
                    let length = this.checkedHalls.length
                    if(length == 0 || length < this.hallBranches.length){
                        this.checkedHalls = []
                        this.hallBranches.forEach(element => {
                            this.checkedHalls.push(element.value)
                        });
                    }
                    else if(length == this.hallBranches.length) this.checkedHalls = []
                    this.checkedHalls = this.checkedHalls.filter(x => x != 0)
                }
            },
            checkStoreBranches(val){
                if(val == 0){
                    let length = this.checkedStores.length
                    if(length == 0 || length < this.storeBranches.length){
                        this.checkedStores = []
                        this.storeBranches.forEach(element => {
                            this.checkedStores.push(element.value)
                        });
                    }
                    else if(length == this.storeBranches.length) this.checkedStores = []
                    this.checkedStores = this.checkedStores.filter(x => x != 0)
                }
            },
            back() {
                this.$parent.view = 0;
            },
            getFeatures(){
                this.$store.dispatch("farhiUsers/getFeatures")
            },
            submit() {
                
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.orginizeBranches()
                    this.$store.dispatch('farhiUsers/edit', {
                        id: this.itemId,
                        payload: this.farhiUser
                    })
                        .then(() => {
                            this.back();
                        })
                        .catch(() => { });
                    this.clear()
                }).catch(() => {});
            },
            orginizeBranches(){
                this.farhiUser.halls = []
                this.farhiUser.stores = []

                this.checkedHalls.forEach(x => {
                    if(this.hallBranches.find(c => c.value == x)){
                        let hallId = this.hallBranches.find(c => c.value == x).hallId
                        let check = this.farhiUser.halls.find(c => c.id == hallId);
                        if(check){
                            check.branches.push(x)
                        }
                        else{
                            this.farhiUser.halls.push({
                                id: hallId,
                                branches: [x]
                            })
                        }
                    }
                });

                this.checkedStores.forEach(x => {
                    if(this.storeBranches.find(c => c.value == x)){
                        let storeId = this.storeBranches.find(c => c.value == x).storeId
                        let check = this.farhiUser.stores.find(c => c.id == storeId);
                        if(check){
                            check.branches.push(x)
                        }
                        else{
                            this.farhiUser.stores.push({
                                id: storeId,
                                branches: [x]
                            })
                        }
                    }
                });
            },
            clear() {
                this.farhiUser.halls = []
                this.farhiUser.stores = []
                this.$refs.observer.reset()
            },
        },
    }
</script>