<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">الحجوزات</h4>
        <el-button class="btn pull-left" @click.prevent="addReservation"> <i class="material-icons">add</i></el-button>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                  <el-select placeholder="الصالات" filterable v-model="filter.hallBranchId" @change="getReservations()">
                    <el-option v-for="hallBranch in hallBranches" :label="hallBranch.hallBranchDescription" 
                    :value="hallBranch.hallBranchId" :key="hallBranch.hallBranchId"></el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                  <el-input type="text" placeholder="بحث" class="form-control" v-model="filter.searchByName"></el-input>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-info">
              <th>الزبون</th>
              <th>عدد المواعيد</th>
              <th>تاريخ الحجز</th>
              <th>منشأ بواسطة</th>
              <th>اجمالي سعر الحجز</th>
              <th>الإجراءات</th>
            </thead>
            <tbody>
              <tr v-for="(reservation,index) in reservations">
                <td>{{reservation.customerName}}</td>
                <td>{{reservation.appointmentsCount}}</td>
                <td>{{reservation.createdOn.substring(0,10)}}</td>
                <td>{{reservation.fullName}}</td>
                <td class="text-primary">${{reservation.total}}</td>
                <td>
                  <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                    <i class="material-icons" @click="viewReservation(index)">visibility</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                    <i class="material-icons" @click="editReservation(index)">edit</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                    <i class="material-icons" @click="deleteReservation(index)">delete</i>
                  </el-tooltip>
                </td>
              </tr>
            </tbody>
            <div>


            </div>
          </table>
        </div>
        <el-pagination layout="prev, pager, next" 
            :page-size="filter.pageSize" 
            :total="total" 
            @current-change="PageChanged">
        </el-pagination>
      </div>
    </div>
  </div>
  <add-reservation :hallBranchId="hallBranchId" v-if="status === 1"></add-reservation>
  <edit-reservation :customerId="customerId" v-if="status === 2"></edit-reservation>
  <view-reservation :customerId="customerId" v-if="status === 3"></view-reservation>
</div>