html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family:"Neo Sans Arabic Regular"
}

.row {
    direction: rtl;
}

.form-group {

    .el-input {
        &:focus {
            outline: 0;
        }
    }
    .el-input__inner {
        line-height: 1.1;
        background-image: linear-gradient(to top, #26c6da 2px, #00abc100 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
        background-size: 0 100%, 100% 100%;
        border: 0;
        height: 36px;

        &:focus {
            background-size: 100% 100%, 100% 100%;
            transition: background 0s ease-out;

            transition-duration: 0.3s;

        }
    }
    .el-range-editor {
        margin: 7px;
    }
    .el-select {
        width: 100%;
        .el-input input {
            padding: 0 15px;
            margin-top: 7px;
        }
        .el-input__suffix {
            left: 5px;
            right: unset;
        }
    }
    // .el-date-editor{
    //     width: 100%;
    //     margin-top: 5px;
    //     .el-input__suffix {
    //         left: 5px;
    //         right: unset;
    //         width: 77777px;
    //     }
    //     .el-input__prefix {
    //         right: 5px;
    //         left: unset;
    //     }
    // }  
}
.btn-left{
    float: left;
}


.el-form-item__error{
    margin-top: 11px;
}


.dialog-footer{
    margin-top: -50px;
    display: flex;
    justify-content: flex-end;
}


.add-sale-btn {
    margin-top: 40px;

}

.sale-btn {
width: 85px;
}