.sidebar .nav {
    padding-left: 0;
}

.card-profile{
    margin-top: 60px;
}

.card-profile .card-avatar {
    max-width: 90px;
    max-height: 90px;
}



.card-profile .card-avatar + .card-body {
    margin-top: unset;
}