table {
    i {
        padding-left: 10px;

        &:hover {
            cursor: pointer;
        }
    }
    .material-icons {
        font-size: 18px;
    }
    
    thead {
        th {
            font-size: 15px;
        }
    }
    tbody {
        td {
            font-size: 12px;
        }
    }
}
.table-header {
    display: flex;
    justify-content: space-between;
    h4 {
        margin-top: 10px !important;
    }
    .btn {
        margin: unset;
    }
    .btn:active:hover {
        background: unset;
        border: 1px solid #fff;
    }
    button {
        background: unset;
        border: 1px solid #fff;
        &:hover { 
            background: unset;
            border: 1px solid #fff; 
        }
        &:focus{ 
            background: unset;
            border: 1px solid #fff; 
        }
        &:active{ 
            background: unset;
            border: 1px solid #fff; 
        }
    }
}



.el-icon-arrow-left:before {
    content: "\E6E0";
}
.el-icon-arrow-right:before {
    content: "\E6DE";
}

.el-icon-d-arrow-left:before{
    content: "\E6DC";
}
.el-icon-d-arrow-right:before{
    content: "\E6DD";
}

.el-pagination {
    display: inline-block;
    float: left;
}

.el-pager li {
    border-radius: 50%;
    height: 35.5px;
    padding-top: 3px;
    border: 1px solid #00bcd4;
    color: #00bcd4;
    margin-left: 5px;
    &:hover {
        color: #00bcd4;
    }
}

.el-pager li.active {
    color: #fff;
    cursor: default;
    background: #00bcd4;
    padding-top: 4px;
}
.el-pager li.active + li {
    border: 1px solid #00bcd4;
}

.el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
    color: #00bcd4;
}

.el-pagination .btn-prev {
    border-radius: 50%;
    height: 35.5px;
    padding-top: 3px;
    border: 1px solid #00bcd4;
    color: #00bcd4;
    margin-left: 5px;
    padding-right: 4px;
    
}

.el-pagination .btn-next {
    border-radius: 50%;
    height: 35.5px;
    padding-top: 4px;
    border: 1px solid #00bcd4;
    color: #00bcd4;
    padding-right: 10px;
}
.home-table{
    height:315px; 
    overflow:auto;
}