﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تعديل صالة </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>


        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="select" rules="required">
                            <v-select v-model="hallBranch.addressId" :items="addresses" label="العنوان" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.addressDescription" label="العنوان" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.phoneNo1" label="رقم الهانف 1" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.phoneNo2" label="رقم الهاتف 2" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.longitude" label="خط الطول" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.latitude" label="دائرة العرض" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.peapleCapacity" label="عدد الاشخاص" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-text-field v-model="hallBranch.carsCapacity" label="عدد السيارات" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <TimePicker v-model="hallBranch.timeRange[0]" label="ساعات العمل المعتادة" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <TimePicker v-model="hallBranch.timeRange[1]" label="الي" />
                        </validation-provider>
                    </v-col>
                </v-row>
                <v-divider class="my-5" />
                <v-card>
                    <v-tabs v-model="tab" background-color="primary" dark>
                        <v-tab>
                            مواعيد الصالة
                        </v-tab>
                        <v-tab>
                            خدمات الصالة
                        </v-tab>
                        <v-tab>
                            شروط التقيد للصالة
                        </v-tab>
                    </v-tabs>

                    <v-tabs-items v-model="tab">
                        <v-tab-item v-for="(item,index) in 3" :key="index">
                            <v-card flat>
                                <!--*******************************Appointments****************************************-->
                                <v-card-text v-if="tab == 0">
                                    <v-tabs vertical background-color="primary">
                                        <v-tab v-for="d in days" :key="d.workDayId">
                                            {{d.text}}
                                        </v-tab>
                                        <v-tab-item v-for="d in days" :key="d.workDayId">
                                            <v-toolbar flat>
                                                <v-spacer />
                                                <v-btn small color="primary" dark @click="addAppointment(d.workDayId)">
                                                    إضافة موعد
                                                </v-btn>

                                            </v-toolbar>

                                            <v-divider />

                                            <v-simple-table height="300px">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th>نوع الموعد</th>
                                                            <th>ساعات العمل من</th>
                                                            <th>إلي</th>
                                                            <th>السعر</th>
                                                            <th>عدد الحجوزات الحالية</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody v-for="(h, dayIndex) in hallBranch.hallAppointments"
                                                        :key="h.workDayId">
                                                        <tr v-for="(itemA, index) in h.appointmentData" :key="itemA.id">
                                                            <td v-if="h.workDayId == d.workDayId">
                                                                <validation-provider v-slot="{ errors }" name="select"
                                                                    rules="required">
                                                                    <v-select v-model="itemA.reservationType"
                                                                        :items="reservationTypes" :loading="loading" />
                                                                </validation-provider>
                                                            </td>
                                                            <td v-if="h.workDayId == d.workDayId">
                                                                <validation-provider v-slot="{ errors }" name="Name"
                                                                    rules="required">
                                                                    <TimePicker v-model="itemA.timeRange[0]" />
                                                                </validation-provider>
                                                            </td>
                                                            <td v-if="h.workDayId == d.workDayId">
                                                                <validation-provider v-slot="{ errors }" name="Name"
                                                                    rules="required">
                                                                    <TimePicker v-model="itemA.timeRange[1]" />
                                                                </validation-provider>
                                                            </td>
                                                            <td v-if="h.workDayId == d.workDayId">
                                                                <validation-provider v-slot="{ errors }" name="Name"
                                                                    rules="required">
                                                                    <v-text-field v-model="itemA.price" />
                                                                </validation-provider>
                                                            </td>
                                                            <td v-if="h.workDayId == d.workDayId">
                                                                {{itemA.reservationStatus }}</td>
                                                            <td v-if="h.workDayId == d.workDayId">
                                                                <v-icon small
                                                                    @click="deleteApt(dayIndex,index, itemA.reservationStatus)">
                                                                    mdi-delete
                                                                </v-icon>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-tab-item>
                                    </v-tabs>
                                </v-card-text>
                                <!--*******************************Services****************************************-->

                                <v-card-text v-else-if="tab == 1">
                                    <v-toolbar flat>
                                        <v-spacer />
                                        <v-btn small color="primary" dark @click="addService">
                                            إضافة خدمة
                                        </v-btn>

                                    </v-toolbar>

                                    <v-divider />
                                    <v-simple-table height="300px">
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th>الوصف</th>
                                                    <th>السعر</th>
                                                    <th>عدد الحجوزات الحالية</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,i) in hallBranch.hallServices" :key="i">
                                                    <td>
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <v-text-field v-model="item.description" />
                                                        </validation-provider>
                                                    </td>
                                                    <td>
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <v-text-field v-model="item.price" />
                                                        </validation-provider>
                                                    </td>
                                                    <td>{{ item.reservationStatus }}</td>
                                                    <td>
                                                        <v-icon small @click="deleteService(i, item.reservationStatus)">
                                                            mdi-delete
                                                        </v-icon>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-card-text>
                                <!--*******************************Conditions****************************************-->

                                <v-card-text v-else-if="tab == 2">
                                    <v-toolbar flat>
                                        <v-spacer />
                                        <v-btn small color="primary" dark @click="addCondition">
                                            إضافة شرط
                                        </v-btn>

                                    </v-toolbar>
                                    <v-divider />

                                    <v-simple-table height="300px">
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th>الوصف</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,i) in hallBranch.conditions" :key="i">
                                                    <td>
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <v-textarea  v-model="item.description"/>
                                                        </validation-provider>
                                                    </td>
                                                    <td>
                                                        <v-icon small @click="deleteCondition(i)">
                                                            mdi-delete
                                                        </v-icon>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>
                <v-row no-gutters class="mt-10">
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>



    </v-container>
</div>