<template src="./Edit.html">
</template>
<script>
import helper from '@/shared/helper';

    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('lookup/getAddresses');
            this.$store.dispatch('lookup/getReservationTypes');
            this.$store.dispatch('hallBranches/getForEdit', this.itemId)
                .then((res) => {
                    this.hallBranch = res;
                })
                .catch(() => { });
        },
        computed:{
            loading(){
                return this.$store.state.hallBranches.loading
            },
            addresses(){
                return this.$store.state.lookup.addresses
            },
            reservationTypes(){
                return this.$store.state.lookup.reservationTypes
            },
            days(){
                return this.$store.state.lookup.days
            }
        },
        data: () => ({
            hallBranch: {},
            tab: null,
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            addAppointment(workDayId){
                let appointmentData = this.hallBranch.hallAppointments.find(x => x.workDayId == workDayId);
                if (appointmentData  == null) {
                    this.hallBranch.hallAppointments.splice(workDayId, 0, {
                        workDayId: workDayId,
                        appointmentData: []
                    })
                }
                this.hallBranch.hallAppointments.find(x => x.workDayId == workDayId).appointmentData.push({
                    hallAppointmentId: null,
                    reservationType: null,
                    timeRange: ["",""],
                    price: null,
                    reservationStatus: 0
                });
            },
            deleteApt(dayIndex,index, reservationStatus){
                if(reservationStatus > 0){
                    helper.startNotify("لا يمكن حذف موعد يحتوي علي حجوزات","error");
                    return;
                }
                this.hallBranch.hallAppointments[dayIndex].appointmentData.splice(index,1);
            },
            addService(){
                this.hallBranch.hallServices.push({
                    hallBranchServiceId:0,
                    description: "",
                    price: null,
                    reservationStatus: 0,
                });
            },
            deleteService(index, reservationStatus){
                if(reservationStatus > 0){
                    helper.startNotify("لا يمكن حذف خدمة يحتوي علي حجوزات","error");
                    return;
                }
                this.hallBranch.hallServices.splice(index,1);
            },
            
            addCondition(){
                this.hallBranch.conditions.push({
                    conditionId:0,
                    description: "",
                });
            },
            deleteCondition(index){
                this.hallBranch.conditions.splice(index,1);
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('hallBranches/edit', {
                        id: this.itemId,
                        payload: this.hallBranch
                    }).then(() => {
                            this.back();
                    })
                    .catch(() => { });
                }).catch(() => { });
            },
            clear() {
                
                this.$refs.observer.reset()
            },
        },
    }
</script>