﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تعديل وسائط </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <v-card>
            <v-tabs v-model="tab" background-color="primary" dark>
                <v-tab>
                    الصور
                </v-tab>
                <v-tab>
                    فيديو
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
                <v-tab-item v-for="(item,index) in 2" :key="index">
                    <v-card flat>
                        <!--*******************************Appointments****************************************-->
                        <v-card-text v-if="tab == 0">
                            <v-toolbar flat>
                                <v-spacer />
                                <v-file-input class="mb-5"
                                    style="flex: unset;"
                                    filled
                                    prepend-icon="mdi-camera"
                                    hide-input
                                    @change="addImages" multiple
                                />

                            </v-toolbar>
                            <v-alert v-if="images.length == 0" type="warning" outlined >لا يوجد صور للإستعراض</v-alert>
                            <v-row v-else>
                                
                                <v-col
                                  v-for="(image,index) in images"
                                  :key="index"
                                  class="d-flex child-flex"
                                  cols="4"
                                >
                                <div class="check-image">
                                    <input type="checkbox" :id="image.imageId"
                                           :value="image.imageId" v-model="checkedImages" />
                                    <label :for="image.imageId">
                                        <v-img
                                            :src="image.path"
                                            aspect-ratio="1"
                                            class="grey lighten-2"
                                        >
                                            
                                        </v-img>
                                        <!-- <img :src="image.path" /> -->
                                    </label>
                                </div>
                                  
                                </v-col>
                              </v-row>
                              <v-row no-gutters class="mt-10">
                                <v-spacer />
                                <v-btn class="mr-4 error" type="submit" @click="deleteImages" :disabled="!checkedImages.length">
                                    حذف
                                </v-btn>
                            </v-row>
                        </v-card-text>
                        <!--*******************************Services****************************************-->

                        <v-card-text v-else-if="tab == 1">
                            <v-toolbar flat>
                                <v-spacer />
                                <!-- <input type="file" @change="addVideo"/> -->
                                <v-file-input class="mb-5"
                                    style="flex: unset;"
                                    filled
                                    prepend-icon="mdi-multimedia"
                                    hide-input
                                    @change="addVideo"
                                />

                            </v-toolbar>
                            <v-row>
                                <v-col
                                  class="d-flex child-flex"
                                  cols="4"
                                >
                                    <video :key="num" controls>
                                        <source  type="video/mp4" :src="video" />
                                    </video>
                                </v-col>
                            </v-row>
                            
                            <v-row no-gutters class="mt-10">
                                <v-spacer />
                                <v-btn class="mr-4 error" type="submit" @click="deleteVideo" :disabled="video == null">
                                    حذف
                                </v-btn>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
        
    </v-container>
</div>