<div class="sidebar" data-color="azure" data-background-color="white">
    <div class="card card-profile">
        <div class="card-avatar">
                <img class="img"
                    src="../../assets/img/avatar.jpg" />
        </div>
        <div class="card-body">
            <h4 class="card-title">قصي بن لطيف</h4>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" v-bind:class="{ active: active === 'login' }" @click="active = 'login'">
                <router-link to="/login" tag="a" class="nav-link">
                    <i class="material-icons">shopping_cart</i>
                    <p>الرئيسية</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'sale' }" @click="active = 'sale'">
                <router-link to="/home" tag="a" class="nav-link">
                    <i class="material-icons">shopping_cart</i>
                    <p>حركات البيع</p>
                </router-link>
            </li>
            <!-- <li class="nav-item" v-bind:class="{ active: active === 'table' }" @click="active = 'table'">
                <router-link to="/table" tag="a" class="nav-link">
                    <i class="material-icons">person</i>
                    <span>الجدول</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'form' }" @click="active = 'form'">
                <router-link to="/form" tag="a" class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <span>الحقول</span>
                </router-link>
            </li> -->
            <li class="nav-item" v-bind:class="{ active: active === 'purchase' }" @click="active = 'purchase'">
                <router-link to="/purchase" tag="a" class="nav-link">
                    <i class="material-icons">shopping_bask...</i>
                    <span>المشتريات</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'store' }" @click="active = 'store'">
                <router-link to="/store" tag="a" class="nav-link">
                    <i class="material-icons">store</i>
                    <span>المخزن</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'customers' }" @click="active = 'customers'">
                <router-link to="/customers" tag="a" class="nav-link">
                    <i class="material-icons">person</i>
                    <span>الزبائن</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'users' }" @click="active = 'users'">
                <router-link to="/users" tag="a" class="nav-link">
                    <i class="material-icons">person</i>
                    <p>المستخدمين</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'settings' }" @click="active = 'settings'">
                <router-link to="/settings" tag="a" class="nav-link">
                    <i class="material-icons">settings</i>
                    <p>الإعدادات</p>
                </router-link>
            </li>
        </ul>
    </div>
</div>