<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">إضافة صاله</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

    </div>
    <!----------------------بيانات الصالة------------------------>

    <div class="card-body">
        <el-form :model="hallData" :rules="rules" ref="hallData">
            <el-divider content-position="right">
                بيانات الصالة
            </el-divider>

            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">اسم الصالة</label>
                                <el-form-item prop="hallName">
                                    <el-input type="text" class="form-control" v-model="hallData.hallName"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">اسم المالك</label>
                                <el-form-item prop="ownerName">
                                    <el-input type="text" class="form-control" v-model="hallData.ownerName"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">رقم الهاتف 1</label>
                                <el-form-item prop="phoneNo1">
                                    <el-input type="text" class="form-control" v-model="hallData.phoneNo1"></el-input>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">رقم الهاتف 2</label>
                                <el-form-item prop="phoneNo2">
                                    <el-input type="text" class="form-control" v-model="hallData.phoneNo2"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">البريد الالكتروني</label>
                                <el-form-item prop="email">
                                    <el-input type="text" class="form-control" v-model="hallData.email"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">شعار الصالة</label>
                                <el-form-item prop="logo">
                                    <el-upload class="avatar-uploader"
                                               action=""
                                               :auto-upload="false"
                                               ref="upload"
                                               :on-change="handleAvatarSuccess"
                                               accept="image/*"
                                               list-type="picture"
                                               :show-file-list="false">
                                        <img v-if="hallData.logo" :src="hallData.logo" class="avatar">
                                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                    </el-upload>
                                </el-form-item>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="clearfix"></div>
            <!-- </el-form> -->
            <!-- </div> -->
            <!----------------------بيانات الفرع الرئيسي------------------------>
            <!-- <div class="card-body"> -->
            <el-divider content-position="right">
                بيانات الفرع الرئيسي
            </el-divider>

            <!-- <el-form :model="hallData" :rules="rules" ref="hallData"> -->

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">العنوان</label>
                        <el-form-item prop="addressId">
                            <el-select v-model="hallData.hallBranch.addressId" v-loading="loading">
                                <el-option v-for="address in addresses"
                                           :key="address.addressId"
                                           :label="address.addressName"
                                           :value="address.addressId"></el-option>
                            </el-select>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">تفاصيل العنوان</label>
                        <el-form-item prop="addressDescription">
                            <el-input type="text" class="form-control" v-model="hallData.hallBranch.addressDescription"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 1</label>
                        <el-form-item prop="phoneNo1">
                            <el-input type="text" class="form-control" v-model="hallData.hallBranch.phoneNo1"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 2</label>
                        <el-form-item prop="phoneNo2">
                            <el-input type="text" class="form-control" v-model="hallData.hallBranch.phoneNo2"></el-input>
                        </el-form-item>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">خطوط الطول</label>
                        <el-form-item prop="longitude">
                            <el-input-number controls-position="right" type="text" class="form-control" v-model="hallData.hallBranch.longitude"></el-input-number>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">خطوط العرض</label>
                        <el-form-item prop="latitude">
                            <el-input-number controls-position="right" type="text" class="form-control" v-model="hallData.hallBranch.latitude"></el-input-number>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">عدد الاشخاص</label>
                        <el-form-item prop="peapleCapacity">
                            <el-input-number controls-position="right" type="text" class="form-control" v-model="hallData.hallBranch.peapleCapacity"></el-input-number>
                        </el-form-item>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">عدد السيارات</label>
                        <el-form-item prop="carsCapacity">
                            <el-input-number controls-position="right" type="text" class="form-control" v-model="hallData.hallBranch.carsCapacity"></el-input-number>
                        </el-form-item>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-4">
            <div class="form-group">
                <label class="bmd-label-floating">ايام العمل</label>
                <el-form-item prop="workDayFrom">
                    <el-select v-model="hallData.hallBranch.workDayFrom" placeholder="من" @change="calculateWorkDays">
                        <el-option v-for="workDay in workDays" :key="workDay.dayId" :label="workDay.dayName"
                                   :value="workDay.dayId"></el-option>
                    </el-select>
                </el-form-item>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="bmd-label-floating"></label>
                <el-form-item prop="workDayTo">
                    <el-select v-model="hallData.hallBranch.workDayTo" placeholder="الي" @change="calculateWorkDays">
                        <el-option v-for="workDay in workDays" :key="workDay.dayId" :label="workDay.dayName"
                                   :value="workDay.dayId"></el-option>
                    </el-select>
                </el-form-item>
            </div>
        </div>-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">ساعات العمل</label>
                        <el-form-item prop="timeRange">
                            <el-time-picker is-range v-model="hallData.hallBranch.timeRange" range-separator="-"
                                            start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                            format="HH:mm" value-format="HH:mm:ss">
                            </el-time-picker>
                        </el-form-item>
                    </div>
                </div>
            </div>




            <!----------------------بيانات مواعيد الصالة------------------------>


            <el-divider content-position="right">
                بيانات مواعيد الصالة
            </el-divider>


            <div class="row" style="display:flex">
                <div class="col-md-12">
                    <el-collapse v-model="activeCollapse" accordion>
                        <el-collapse-item v-for="(appointmant,index) in hallData.hallBranch.hallAppointments"
                                          :title="appointmant.workDayId | dayName" :name="index">
                            <div v-for="(appointmantDetails,indexDetails) in appointmant.appointmentData">
                                <el-form style="display:flex"
                                         :model="appointmantDetails" ref="hallAppointments"
                                         :rules="appointmentRules">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">نوع الموعد</label>
                                                <el-form-item prop="reservationType">
                                                    <el-select v-model="appointmantDetails.reservationType">
                                                        <el-option v-for="type in reservationTypes"
                                                                   :key="type.reservationTypeId"
                                                                   :label="type.description"
                                                                   :value="type.reservationTypeId">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">ساعات العمل</label>
                                                <el-form-item prop="timeRange">
                                                    <el-time-picker is-range v-model="appointmantDetails.timeRange" range-separator="-"
                                                                    start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                                    format="HH:mm" value-format="HH:mm:ss">
                                                    </el-time-picker>
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">السعر</label>
                                                <el-form-item prop="price">
                                                    <el-input-number controls-position="right"
                                                                     type="text" class="form-control"
                                                                     v-model="appointmantDetails.price">

                                                    </el-input-number>
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-md-3" v-if="appointmant.appointmentData.length > 1">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"></label>
                                                <el-form-item>
                                                    <button type="submit" @click.prevent="deleteApponitment(index,indexDetails)"
                                                            class="btn btn-info pull-left">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                </el-form-item>
                                            </div>
                                        </div>
                                    </div>


                                </el-form>

                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <el-button-group>
                                        <el-button style="margin-right:20px; color:red;" type="text"
                                                   @click="deleteDay(index)">
                                            اضغط لحذف اليوم بالكامل
                                        </el-button>
                                        <el-button type="text" @click="addApponitment(index)">
                                            اضغط لاضافة موعد جديد
                                        </el-button>

                                    </el-button-group>
                                </div>
                            </div>
                        </el-collapse-item>
                    </el-collapse>
                </div>

            </div>


            <!----------------------بيانات خدمات الصالة------------------------>

            <el-divider content-position="right">
                بيانات خدمات الصالة
            </el-divider>
            <div class="row">
                <div class="col-md-12">
                    <el-button type="text" @click="addService">
                        اضغط لاضافة خدمة جديدة
                    </el-button>
                </div>
            </div>

            <div class="row" style="display:flex">
                <div v-for="(service,index) in hallData.hallBranch.hallServices">
                    <el-form style="display:flex" :model="hallData.hallBranch.hallServices[index]" ref="hallServices" :rules="servicesRules">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">وصف الخدمة</label>
                                <el-form-item prop="description">
                                    <el-input type="text" class="form-control" v-model="service.description"></el-input>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">السعر</label>
                                <el-form-item prop="price">
                                    <el-input-number controls-position="right" type="text" class="form-control" v-model="service.price"></el-input-number>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating"></label>
                                <el-form-item>
                                    <button type="submit" @click="deleteService()" class="btn btn-info pull-left">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </el-form-item>
                            </div>
                        </div>
                    </el-form>
                </div>
            </div>
            <div class="clearfix"></div>

            <!----------------بيانات المستخدم للفرع الرئيسي--------------->
            <el-divider content-position="right">
                بيانات المستخدم
            </el-divider>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">اسم المستخدم</label>
                        <el-form-item prop="farhiUser.userName">
                            <el-input type="text" class="form-control" v-model="hallData.farhiUser.userName"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">اسم الدخول</label>
                        <el-form-item prop="farhiUser.loginName">
                            <el-input type="text" class="form-control" v-model="hallData.farhiUser.loginName"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">كلمة المرور</label>
                        <el-form-item prop="farhiUser.password">
                            <el-input type="text" class="form-control" v-model="hallData.farhiUser.password"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 1</label>
                        <el-form-item prop="farhiUser.userPhoneNo1">
                            <el-input type="text" class="form-control" v-model="hallData.farhiUser.userPhoneNo1"></el-input>
                        </el-form-item>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 2</label>
                        <el-form-item prop="farhiUser.userPhoneNo2">
                            <el-input type="text" class="form-control" v-model="hallData.farhiUser.userPhoneNo2"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">البريد الالكتروني</label>
                        <el-form-item prop="farhiUser.userEmail">
                            <el-input type="text" class="form-control" v-model="hallData.farhiUser.userEmail"></el-input>
                        </el-form-item>
                    </div>
                </div>
                <!--<div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">صلاحية لدخول جميع فروع الصالة </label>
             <el-form-item prop="hallPermission">
              <el-switch v-model="hallData.hallPermission"  style = "margin: 10px;" active-color="#13ce66" inactive-color="#ff4949">
              </el-switch>
             </el-form-item>
          </div>
        </div>-->

            </div>

            <div class="el-alert el-alert--info is-light">
                <div class="col-md-12">
                    <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click="addItem()">
                        إضافة الصالة
                    </el-button>
                </div>
            </div>
        </el-form>
    </div>
  </div>
</div>