@font-face {
    font-family: 'NeoSans';
    src: url('../assets/fonts/NeoSans.eot');
    src: local('NeoSans'),
        url('../assets/fonts/NeoSans.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NeoSans.woff2') format('woff2'),
        url('../assets/fonts/NeoSans.woff') format('woff'),
        url('../assets/fonts/NeoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a:-webkit-any-link{
    text-decoration: unset;
}
.v-application a{
    display: flex;
}
.v-application .white--text{
    color: unset !important;
}
.loading{
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #767676;
}

.v-breadcrumbs {
    padding: 10px;
    margin: 10px;
}
.container {
    max-width: 96%;
}

.check-image {
    input[type="checkbox"] {
        display: none;
    }

    label {
        //border: 1px solid #fff;
        //padding: 10px;
        display: block;
        position: relative;
        //margin: 10px;
        cursor: pointer;
    }

    label:after {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label img {
        //height: 100px;
        width: 100%;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked + label {
        border-color: #ddd;
    }

    :checked + label:after {
        content: "🗸";
        background-color: green;
        transform: scale(1);
    }

    :checked + label img {
        transform: scale(0.9);
        /* box-shadow: 0 0 5px #333; */
        z-index: -1;
    }
    
    
}
.v-input__append-outer .v-icon, .v-input__prepend-outer .v-icon {
    background-color: #9845ff;
    padding: 8px;
    border-radius: 16px;
}

td{
    .v-icon.v-icon.v-icon--link {
        margin: 0px 4px 0px 4px;
    }
}