<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info table-header">
            <h4 class="card-title">إضافة فرع صالة</h4>
            <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

        </div>

        <div class="card-body">
            <el-form :model="hallBranchData" :rules="rules" ref="hallBranchData">

                <div class="clearfix"></div>
                <!----------------------بيانات الفرع ------------------------>

                <el-divider content-position="right">
                    بيانات الفرع
                </el-divider>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">العنوان</label>
                            <el-form-item prop="addressId">
                                <el-select v-model="hallBranchData.addressId" v-loading="$loading.status">
                                    <el-option v-for="address in addresses"
                                               :key="address.addressId"
                                               :label="address.addressName"
                                               :value="address.addressId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">تفاصيل العنوان</label>
                            <el-form-item prop="addressDescription">
                                <el-input type="text" class="form-control" v-model="hallBranchData.addressDescription"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 1</label>
                            <el-form-item prop="phoneNo1">
                                <el-input type="text" class="form-control" v-model="hallBranchData.phoneNo1"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 2</label>
                            <el-form-item prop="phoneNo2">
                                <el-input type="text" class="form-control" v-model="hallBranchData.phoneNo2"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط الطول</label>
                            <el-form-item prop="longitude">
                                <el-input-number controls-position="right" type="text" class="form-control" v-model="hallBranchData.longitude"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط العرض</label>
                            <el-form-item prop="latitude">
                                <el-input-number controls-position="right" type="text" class="form-control" v-model="hallBranchData.latitude"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">عدد الاشخاص</label>
                            <el-form-item prop="peapleCapacity">
                                <el-input-number controls-position="right" type="text" class="form-control" v-model="hallBranchData.peapleCapacity"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">عدد السيارات</label>
                            <el-form-item prop="carsCapacity">
                                <el-input-number controls-position="right" type="text" class="form-control" v-model="hallBranchData.carsCapacity"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">ايام العمل</label>
                            <el-form-item prop="workDayFrom">
                                <el-select v-model="hallBranchData.workDayFrom" placeholder="من" @change="calculateWorkDays">
                                    <el-option v-for="workDay in workDays" :key="workDay.dayId" :label="workDay.dayName"
                                               :value="workDay.dayId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating"></label>
                            <el-form-item prop="workDayTo">
                                <el-select v-model="hallBranchData.workDayTo" placeholder="الي" @change="calculateWorkDays">
                                    <el-option v-for="workDay in workDays" :key="workDay.dayId" :label="workDay.dayName"
                                               :value="workDay.dayId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">ساعات العمل</label>
                            <el-form-item prop="timeRange">
                                <el-time-picker is-range v-model="hallBranchData.timeRange" range-separator="-"
                                                start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                format="HH:mm" value-format="HH:mm:ss">
                                </el-time-picker>
                            </el-form-item>
                        </div>
                    </div>
                </div>




                <!----------------------بيانات مواعيد الصالة------------------------>


                <el-divider content-position="right">
                    بيانات مواعيد الصالة
                </el-divider>

                <div class="row" style="display:flex">
                    <div >
                        <div class="col-md-12">
                            <el-button v-for="(day,index) in noneSelectedDays" @click="addDay(day,index)">إضافة  {{day.dayName}}</el-button>
                        </div>
                        <div class="col-md-12">
                            <el-collapse v-model="activeCollapse" accordion>
                                <el-collapse-item v-for="(appointmant,index) in hallBranchData.hallAppointments"
                                                  :title="appointmant.workDayId | dayName" :name="index">
                                    <div v-for="(appointmantDetails,indexDetails) in appointmant.appointmentData">
                                        <el-form style="display:flex" class="view-form"
                                                 :model="appointmantDetails" ref="hallAppointments"
                                                 :rules="appointmentRules">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">نوع الموعد</label>
                                                        <el-form-item prop="reservationType">
                                                            <label v-if="appointmantDetails.reservationStatus">
                                                                {{reservationTypes.find(x=>x.reservationTypeId == appointmantDetails.reservationType).description}}
                                                            </label>
                                                            <el-select v-else v-model="appointmantDetails.id">
                                                                <el-option v-for="type in reservationTypes"
                                                                           :key="type.reservationTypeId"
                                                                           :label="type.description"
                                                                           :value="type.reservationTypeId">
                                                                </el-option>
                                                            </el-select>
                                                        </el-form-item>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">ساعات العمل</label>
                                                        <el-form-item prop="timeRange">
                                                            <label v-if="appointmantDetails.reservationStatus">
                                                                {{appointmantDetails.timeRange}}
                                                            </label>
                                                            <el-time-picker v-else
                                                                            is-range v-model="appointmantDetails.timeRange" range-separator="-"
                                                                            start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                                            format="HH:mm" value-format="HH:mm:ss">
                                                            </el-time-picker>
                                                        </el-form-item>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">السعر</label>
                                                        <el-form-item prop="price">
                                                            <label v-if="appointmantDetails.reservationStatus">
                                                                {{appointmantDetails.price}}
                                                            </label>
                                                            <el-input-number v-else
                                                                             controls-position="right"
                                                                             type="text" class="form-control"
                                                                             v-model="appointmantDetails.price">

                                                            </el-input-number>
                                                        </el-form-item>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" v-if="appointmant.appointmentData.length > 1 && !appointmantDetails.reservationStatus">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <el-form-item>
                                                            <button type="submit" @click.prevent="deleteApponitment(index,indexDetails)"
                                                                    class="btn btn-info pull-left">
                                                                <i class="material-icons">delete</i>
                                                            </button>
                                                        </el-form-item>
                                                    </div>
                                                </div>
                                            </div>
                                        </el-form>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <el-button-group>
                                                <el-button style="margin-right:20px; color:red;" type="text"
                                                           @click="deleteDay(index)">
                                                    اضغط لحذف اليوم بالكامل
                                                </el-button>
                                                <el-button type="text" @click="addApponitment(index)">
                                                    اضغط لاضافة موعد جديد
                                                </el-button>
                                            </el-button-group>
                                        </div>
                                    </div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>

                        
                    </div>

                </div>


                <!----------------------بيانات خدمات الصالة------------------------>

                <el-divider content-position="right">
                    بيانات خدمات الصالة
                </el-divider>
                <div class="row">
                    <div class="col-md-12">
                        <el-button type="text" @click="addService">
                            اضغط لاضافة خدمة جديدة
                        </el-button>
                    </div>
                </div>
                <div class="row" style="display:flex">
                    <div v-for="(service,index) in hallBranchData.hallServices">
                        <el-form style="display:flex" :model="hallBranchData.hallServices[index]" ref="hallServices" :rules="servicesRules">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">وصف الخدمة</label>
                                    <el-form-item prop="description">
                                        <label v-if="service.reservationStatus">
                                            {{service.description}}
                                        </label>
                                        <el-input v-else type="text" class="form-control" v-model="service.description"></el-input>
                                    </el-form-item>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">السعر</label>
                                    <el-form-item prop="price">
                                        <label v-if="service.reservationStatus">
                                            {{service.price}}
                                        </label>
                                        <el-input-number v-else controls-position="right" type="text" 
                                                         class="form-control" v-model="service.price">
                                        </el-input-number>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="!service.reservationStatus">
                                <div class="form-group">
                                    <label class="bmd-label-floating"></label>
                                    <el-form-item>
                                        <button type="submit" @click="deleteService()" class="btn btn-info pull-left">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </el-form-item>
                                </div>
                            </div>
                        </el-form>
                    </div>
                </div>

            </el-form>





            <div class="el-alert el-alert--info is-light">
                <div class="col-md-12">
                    <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="editItem()">
                        تعديل فرع الصالة
                    </el-button>
                </div>

            </div>
        </div>
    </div>
</div>