<div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title">عرض الحجز</h4>
        <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
  
      </div>
  
      <div class="card-body">
        <el-form class="view-form" >
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">اسم الزبون</label>
                  <el-form-item >
                    <label>{{reservationData.customerName}}</label>
                  </el-form-item>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">رقم الزبون</label>
                  <el-form-item >
                    <label>{{reservationData.customerNumber}}</label>
                  </el-form-item>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12" v-for="(reservation, index) in reservationData.oppointmentData">
                <el-collapse v-model="activeNames" >
                    <el-collapse-item :title="reservation.reservationDate" :name="index">
                      <label>
                          <b>نوع الحجز : </b>
                          {{reservation.oppointmentDay}}
                        </label>
                        <div>
                            <label>
                                <b>الخدمات : </b>
                                {{reservation.services}}
                            </label>
                        </div>
                    </el-collapse-item>
                  </el-collapse>
            </div>
          </div>
        </el-form>
      </div>
    </div>
  </div>