﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل محل {{name}}</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                <v-text-field v-model="details.addressName" readonly label="فرع">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.addressDescription" readonly label="العنوان">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.phoneNo1" readonly label="رقم الهانف 1">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.phoneNo2" readonly label="رقم الهاتف 2">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.longitude" readonly label="خط الطول">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.latitude" readonly label="دائرة العرض">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.peapleCapacity" readonly label="عدد الاشخاص">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.carsCapacity" readonly label="عدد السيارات">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.startTime" readonly label="ساعات العمل">
                </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="details.endTime" readonly label="الي">
                </v-text-field>
            </v-col>
        </v-row>
        <v-divider class="my-5"/>
        <v-card>
            <v-tabs v-model="tab" background-color="primary" dark>
                <v-tab>
                    ساعات العمل المحل
                </v-tab>
                <v-tab>
                    بيانات الاشنراك
                </v-tab>
                <v-tab>
                    خدمات الصالة
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
                <v-tab-item v-for="(item,index) in 3" :key="index">
                    <v-card flat>
                        <v-card-text v-if="tab == 0">
                            <v-simple-table height="300px">
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th>
                                                اليوم
                                            </th>
                                            <th>
                                                ساعات العمل
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,i) in details.storeAppointments" :key="i">
                                            <td>{{ item.workDay }}</td>
                                            <td>{{ item.startTime }} إلي {{ item.endTime }}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                        <v-card-text v-else-if="tab == 1">
                            <v-tabs vertical background-color="primary">
                                <v-tab v-for="(d,i) in details.subscriptions" :key="i">
                                    {{d.date}}
                                </v-tab>
                                <v-tab-item v-for="(d,i) in details.subscriptions" :key="i">
                                    <v-simple-table height="300px">
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th>وصف الاشتراك</th>
                                                    <th>بداية الاشتراك</th>
                                                    <th>نهاية الاشتراك</th>
                                                    <th>السعر</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,ii) in d.subscriptions" :key="ii">
                                                    <td>{{ item.description }}</td>
                                                    <td>{{ item.startDate }}</td>
                                                    <td>{{ item.endDate }}</td>
                                                    <td>{{ item.price }}</td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-tab-item>
                            </v-tabs>
                        </v-card-text>
                        <v-card-text v-else-if="tab == 2">
                            <v-simple-table height="300px">
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th>
                                                الوصف
                                            </th>
                                            <th>
                                                السعر
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,i) in details.services" :key="i">
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.price }}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
    </v-container>
</div>