<template src="./Details.html"></template>
<script>
export default {
  props: ["itemId", "name"],
  created() {
    this.$store.dispatch("storeBranches/getDetails", this.itemId);
  },
  computed: {
    details() {
      return this.$store.state.storeBranches.storeBranch;
    },
  },
  data: () => ({
    tab: null,
  }),
  methods: {
    back() {
      this.$parent.view = 0;
    },
  },
};
</script>