<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info table-header">
            <h4 class="card-title">إضافة صاله</h4>
            <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

        </div>
        <!----------------------بيانات المحل------------------------>

        <div class="card-body">
            <el-form class="view-form" v-loading="$loading.status">
                <el-divider content-position="right">
                    بيانات المحل
                </el-divider>

                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اسم المحل</label>
                                    <el-form-item>
                                        <label>{{storeData.storeName}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اسم المالك</label>
                                    <el-form-item>
                                        <label>{{storeData.ownerName}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">رقم الهاتف 1</label>
                                    <el-form-item>
                                        <label>{{storeData.phoneNo1}}</label>
                                    </el-form-item>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">رقم الهاتف 2</label>
                                    <el-form-item>
                                        <label>{{storeData.phoneNo2}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">البريد الالكتروني</label>
                                    <el-form-item>
                                        <label>{{storeData.email}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">شعار المحل</label>
                                    <el-form-item>
                                        <div class="block">
                                            <el-image style="width: 100px; height: 100px"
                                                      :src="storeData.logo"
                                                      fit="fill"></el-image>
                                        </div>
                                        <!-- <label>{{storeData.logo}}</label> -->
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="clearfix"></div>
                <!----------------------بيانات الفرع الرئيسي------------------------>

                <el-divider content-position="right">
                    بيانات الفرع الرئيسي
                </el-divider>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">العنوان</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.addressName}}</label>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">تفاصيل العنوان</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.addressDescription}}</label>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 1</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.phoneNo1}}</label>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 2</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.phoneNo2}}</label>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط الطول</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.longitude}}</label>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط العرض</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.latitude}}</label>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">ساعات العمل</label>
                            <el-form-item>
                                <label>{{storeData.storeBranch.startTime}} - {{storeData.storeBranch.endTime}}</label>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <!----------------بيانات المستخدم للفرع الرئيسي--------------->
                <el-divider content-position="right">
                    بيانات المستخدم
                </el-divider>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">اسم المستخدم</label>
                            <el-form-item>
                                <label>{{storeData.farhiUser.userName}}</label>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">اسم الدخول</label>
                            <el-form-item>
                                <label>{{storeData.farhiUser.loginName}}</label>
                            </el-form-item>
                        </div>
                    </div>


                </div>

                <div class="clearfix"></div>
            </el-form>
        </div>
    </div>
</div>