﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">إضافة منتج </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>
        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="select" rules="required">
                            <v-select v-model="product.storeBranchId" :items="allStoreBranches" label="المحل" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="name" rules="required">
                            <v-text-field :error-messages="errors" v-model="product.name" label="إسم المنتج" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="description" rules="required">
                            <v-text-field :error-messages="errors" v-model="product.description" label="وصف المنتج" />
                        </validation-provider>
                    </v-col>
                    
                    <v-col cols="3">
                        <v-select v-model="categoryId" :items="categories" label="الصنف" required
                                :loading="loading"  />

                    </v-col>

                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="subCategoryId" rules="required">
                            <v-select v-model="product.subCategoryId" :items="subCategories" label="نوع الصنف" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>

                    </v-col>

                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="qty" rules="required|numeric">
                            <v-text-field :error-messages="errors" v-model="product.qty" label="الكمية" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="price" rules="required|numeric">
                            <v-text-field :error-messages="errors" v-model="product.price" label="السعر" />
                        </validation-provider>

                    </v-col>
                </v-row>
                
                <v-row no-gutters class="mt-10">
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>



    </v-container>
</div>