<template src="./Add.html">
</template>
<script>

    export default {
        created() {
            this.$store.dispatch('lookup/getCategories')
        },
        computed: {
            allStoreBranches() {
                return this.$store.getters['lookup/allStoreBranches']
            },
            categories() {
                return this.$store.state.lookup.categories
            },
            subCategories() {
                return this.$store.state.lookup.subCategories
            },
            loading() {
                return this.$store.state.lookup.loading
            },
        },
        watch:{
            categoryId(val){
                this.getSubCategories(val)
            }
        },
        data: () => ({
            product: {
                storeBranchId: null,
                name: null,
                description: null,
                subCategoryId: null,
                qty: null,
                price: null,
            },
            categoryId: null
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            getSubCategories(id){
                this.$store.dispatch('lookup/getSubCategories', id)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('products/add', this.product)
                        .then(() => {
                            this.clear();
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.product.storeBranchId = null;
                this.product.name = null;
                this.product.description = null;
                this.categoryId = null;
                this.product.subCategoryId = null;
                this.product.qty = null;
                this.product.price = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>