<template src="./Edit.html">
</template>
<script>

    export default {
        props: ['itemId'],
        created() {
            this.$store.dispatch('lookup/getCategories')
            this.$store.dispatch('products/getForEdit', this.itemId).then((res) => {
                this.product = res.product
                this.categoryId = res.categoryId
            })
        },
        computed: {
            allStoreBranches() {
                return this.$store.getters['lookup/allStoreBranches']
            },
            categories() {
                return this.$store.state.lookup.categories
            },
            subCategories() {
                return this.$store.state.lookup.subCategories
            },
            loading() {
                return this.$store.state.lookup.loading
            },
        },
        watch:{
            categoryId(val){
                this.getSubCategories(val)
            }
        },
        data: () => ({
            product: {},
            categoryId: null
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            getSubCategories(id){
                this.$store.dispatch('lookup/getSubCategories', id)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('products/edit', {
                        id: this.itemId,
                        payload: this.product
                    })
                        .then(() => {
                            this.clear();
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.product.storeBranchId = null;
                this.product.name = null;
                this.product.description = null;
                this.categoryId = null;
                this.product.subCategoryId = null;
                this.product.qty = null;
                this.product.price = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>