﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تعديل وسائط </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <v-file-input class="mb-5"
            style="flex: unset;"
            filled
            prepend-icon="mdi-camera"
            hide-input
            @change="addImages" multiple
        />

        <v-row class="my-4" align-content="space-between">
            
            <v-col
                v-for="(image,index) in images"
                :key="index"
                class="d-flex child-flex"
                cols="4"
            >
            <div class="check-image">
                <input type="checkbox" :id="image.imageId"
                        :value="image.imageId" v-model="checkedImages" />
                <label :for="image.imageId">
                    <v-img
                        :src="image.path"
                        aspect-ratio="1"
                        class="grey lighten-2"
                    >
                        
                    </v-img>
                    <!-- <img :src="image.path" /> -->
                </label>
            </div>
                
            </v-col>
            </v-row>
            <v-row no-gutters class="mt-10">
            <v-spacer />
            <v-btn class="mr-4 error" type="submit" @click="deleteImages" :disabled="!checkedImages.length">
                حذف
            </v-btn>
        </v-row>
        
    </v-container>
</div>