<template src="./Media.html">
</template>
<script>

    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('products/getImages', this.itemId)
                .then((res) => {
                    this.images = res;
                })
                .catch(() => { });
        },
        computed:{
            // video(){
            //     return this.$store.state.products.video
            // }
        },
        data: () => ({
            checkedImages:[],
            images:[],
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            
            addImages(files){
                //const forms= [];
                files.forEach((file)=>{
                    const formData = new FormData();
                    formData.append("file", file);
                    this.$store.dispatch('products/addImages', {
                        id: this.itemId,
                        payload: formData,
                        //video
                    })
                    .then((res) => {
                        this.images.push(res)
                    })
                    .catch(() => { });
                })
                
            },
            deleteImages(){
                if(!this.checkedImages.length) return;
                this.$store.dispatch('products/deleteImages', this.checkedImages)
                    .then(() => {
                        this.checkedImages.forEach(x => {
                            let index = this.images.findIndex(p => p.imageId == x);
                            this.images.splice(index,1);
                            this.checkedImages = []
                        })
                    })
                    .catch(() => { });
            },
        },
    }
</script>