<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">تعديل بيانات مستخدم</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

    </div>

    <div class="card-body">
      <el-form :model="adminData" :rules="rules" ref="adminData">

        <div class="clearfix"></div>
        <!----------------------بيانات المستخدم ------------------------>

        <el-divider content-position="right">
          بيانات الفرع
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم المستخدم</label>
              <el-form-item prop="adminName">
                <el-input type="text" class="form-control" v-model="adminData.adminName"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم الدخول</label>
              <el-form-item prop="loginName">
                <el-input type="text" class="form-control" v-model="adminData.loginName"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">البريد الالكتروني</label>
              <el-form-item prop="email">
                <el-input type="text" class="form-control" v-model="adminData.email"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 1</label>
              <el-form-item prop="phoneNo1">
                <el-input type="text" class="form-control" v-model="adminData.phoneNo1"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 2</label>
              <el-form-item prop="phoneNo2">
                <el-input type="text" class="form-control" v-model="adminData.phoneNo2"></el-input>
              </el-form-item>
            </div>
          </div>
        </div>

        <el-divider content-position="right">
          الصلاحيات
        </el-divider>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" v-loading="loading">
              <el-alert v-if="!features.length" title="لا يوجد بيانات" type="warning" :closable="false">
              </el-alert>
              <el-form-item v-else>
                <el-collapse v-model="activeCollapse" accordion>
                  <el-collapse-item v-for="(feature,index) in features" 
                    :key="feature.featureId" 
                    :title="feature.featureName" :name="feature.featureId">
                    <div>
                      <el-checkbox  v-model="feature.checkAll" @change="handleCheckAllChange(feature.checkAll,index)">الكل</el-checkbox>
                      <div style="margin: 15px 0;"></div>
                      <el-checkbox-group v-model="adminData.permissions" @change="handleCheckedChange(index)">
                        <el-checkbox v-for="(permission,i) in feature.permissions" 
                          :label="permission.permissionId" 
                          :key="permission.permissionId">{{permission.permissionName}}</el-checkbox>
                      </el-checkbox-group>                    
                    </div>
                  </el-collapse-item>
                </el-collapse>
              </el-form-item>
            </div>
          </div>
        </div>
      </el-form>
      
      <div class="el-alert el-alert--info is-light">
        <div class="col-md-12">
          <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="edit">تعديل 
          </el-button>
        </div>

      </div>
    </div>
  </div>
</div>