<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">عرض فرع المحل</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
    </div>

    <div class="card-body">
        <el-form class="view-form">
            <div class="clearfix"></div>
            <!----------------------بيانات الفرع ------------------------>

            <el-divider content-position="right">
                بيانات الفرع
            </el-divider>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">العنوان</label>
                        <el-form-item>
                            <label>{{storeBranchData.addressName}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">تفاصيل العنوان</label>
                        <el-form-item>
                            <label>{{storeBranchData.addressDescriptione}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 1</label>
                        <el-form-item>
                            <label>{{storeBranchData.phoneNo1}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 2</label>
                        <el-form-item>
                            <label>{{storeBranchData.phoneNo2}}</label>
                        </el-form-item>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">خطوط الطول</label>
                        <el-form-item>
                            <label>{{storeBranchData.longitude}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">خطوط العرض</label>
                        <el-form-item>
                            <label>{{storeBranchData.latitude}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">ساعات العمل</label>
                        <el-form-item>
                            <label>{{storeBranchData.startTime + '   الي   ' + storeBranchData.endTime}}</label>
                        </el-form-item>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <el-divider content-position="right">
                مواعيد عمل الفرع
            </el-divider>
            <div class="row" v-for="appointment in storeBranchData.storeAppointments">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">يوم العمل</label>
                        <el-form-item>
                            <label>{{appointment.workDay}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="bmd-label-floating">ساعات العمل</label>
                        <el-form-item>
                            <label>{{appointment.startTime + '   الي   ' + appointment.endTime}}</label>
                        </el-form-item>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <el-divider content-position="right">
                بيانات اشتراك الفرع
            </el-divider>
            <div>
                <el-alert v-if="!storeBranchData.subscriptions.length"
                          title=" لا يوجد بيانات اشتراكات لهذالفرع"
                          type="warning"
                          :closable="false">
                </el-alert>
                <div class="row" v-else>

                    <div class="col-md-12" v-for="(subscription,index) in storeBranchData.subscriptions">
                        <div class="row" v-for="s in subscription">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">وصف الاشتراك</label>
                                    <el-form-item>
                                        <label>{{s.description}}</label>
                                    </el-form-item>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">بداية الاشتراك</label>
                                    <el-form-item>
                                        <label>{{s.startDate}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">نهاية الاشتراك</label>
                                    <el-form-item>
                                        <label>{{s.endDate}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">السعر</label>
                                    <el-form-item>
                                        <label>{{s.price}}</label>
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </el-form>
      
      <!-- <div class="card-body"> -->
      <div class="el-alert el-alert--info is-light">
        <div class="col-md-12">
          <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="back()">رجوع
          </el-button>
        </div>
      </div>
    </div>
  </div>
</div>