﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">إضافة حجز </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="serviceId" rules="required">
                            <v-select v-model="storeReservation.serviceId" :items="storeServices" label="الخدمة" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="customerId" rules="required">
                            <v-select v-model="storeReservation.customerId" :items="customers" label="الزبون" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>
                    </v-col>
                </v-row>
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="workDayId" rules="required">
                            <v-select v-model="storeReservation.workDayId" :items="days" label="اليوم" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="startTime" rules="required">
                            <TimePicker v-model="storeReservation.startTime" label=" وقت الحجز من" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="endTime" rules="required">
                            <TimePicker v-model="storeReservation.endTime" label="الي" />
                        </validation-provider>
                    </v-col>
                    
                    <v-col cols="12">
                        <v-text-field v-model="price"
                                  readonly
                                  label="السعر" />
                    </v-col>
                </v-row>
                
                <v-row no-gutters class="mt-10">
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>



    </v-container>
</div>