<template src="./Add.html">
</template>
<script>

    export default {
        created() {
            this.$store.dispatch('lookup/getCustomers')
            this.$store.dispatch('lookup/getStoreServices')
        },
        computed: {
            customers() {
                return this.$store.state.lookup.customers
            },
            storeServices() {
                return this.$store.state.lookup.storeServices
            },
            loading() {
                return this.$store.state.lookup.loading
            },
            days() {
                return this.$store.state.lookup.days
            },
            price() {
                return this.$store.state.storeReservations.price
            },
        },
        watch:{
            'storeReservation.serviceId': function (val){
                this.getPrice(val)
                //to work with changes in someOtherProp
            },
            // serviceId(val){
            //     this.getServicePrice(val)
            // }
        },
        data: () => ({
            storeReservation: {},
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            getPrice(id){
                this.$store.dispatch('storeReservations/getPrice', id)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('storeReservations/add', this.storeReservation)
                        .then(() => {
                            this.clear();
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.storeReservation.serviceId = null;
                this.storeReservation.customerId = null;
                this.storeReservation.workDayId = null;
                this.storeReservation.startTime = null;
                this.storeReservation.endTime = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>