<template src="./Edit.html">
</template>
<script>

    export default {
        props:["itemId"],
        created() {
            this.$store.dispatch('lookup/getStoreServices')
            this.$store.dispatch('storeReservations/getForEdit', this.itemId).then((res)=>{
                this.storeReservation = res.storeReservation;
                this.customerName = res.customerName
            })
        },
        computed: {
            storeServices() {
                return this.$store.state.lookup.storeServices
            },
            loading() {
                return this.$store.state.lookup.loading
            },
            days() {
                return this.$store.state.lookup.days
            },
            price() {
                return this.$store.state.storeReservations.price
            },
        },
        watch:{
            'storeReservation.serviceId': function (val){
                this.getPrice(val)
                //to work with changes in someOtherProp
            },
        },
        data: () => ({
            storeReservation: {
                startTime:"",
                endTime:""
            },
            customerName:""
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            getPrice(id){
                this.$store.dispatch('storeReservations/getPrice', id)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('storeReservations/edit', {
                            id: this.itemId,
                            payload: this.storeReservation
                        })
                        .then(() => {
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.storeReservation.serviceId = null;
                this.storeReservation.workDayId = null;
                this.storeReservation.startTime = null;
                this.storeReservation.endTime = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>