<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">المحلات</h4>
        <el-button class="btn pull-left" @click.prevent="change">إضافة محل <i class="material-icons">add</i></el-button>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                    <el-input type="text"
                              placeholder="بحث"
                              clearable
                              class="form-control"
                              @clear="reload"
                              v-model="filter.searchByName">
                        <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                    </el-input>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
        <div class="table-responsive">
            <el-alert v-if="!stores.length" title="لا يوجد بيانات"
                      type="warning"
                      :closable="false">
            </el-alert>
            <table v-else class="table">
                <thead class=" text-info">
                <th>اسم المحل</th>
                <th>اسم المالك</th>
                <th>رقم الهاتف</th>
                <th>نوع المحل</th>
                <th>منشأ بواسطة</th>
                <th>منشأ بتاريخ</th>
                <th>الإجراءات</th>
                </thead>
                <tbody>
                    <tr v-for="(store,index) in stores">
                        <td>{{store.storeName}}</td>
                        <td>{{store.ownerName}}</td>
                        <td>{{store.phoneNo1}}</td>
                        <td>{{store.storeType}}</td>
                        <td>{{store.adminName}}</td>
                        <td class="text-primary">{{store.createdOn}}</td>
                        <td>
                            <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                                <i class="material-icons" @click="viewStore(index)">visibility</i>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                                <i class="material-icons" @click="editStore(index)">edit</i>
                            </el-tooltip>
                            <el-tooltip v-if="store.status == 1" class="item" effect="dark" content="تجميد" placement="top">
                                <i class="material-icons" @click="lockStore(index)">lock_open</i>
                            </el-tooltip>
                            <el-tooltip v-if="store.status == 2" class="item" effect="dark" content="فك تجميد" placement="top">
                                <i class="material-icons" @click="unlockStore(index)">lock_outline</i>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                                <i class="material-icons" @click="deleteStore(index)">delete</i>
                            </el-tooltip>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <el-pagination layout="prev, pager, next" 
          :page-size="filter.pageSize" 
          :total="total" 
          :current-page.sync="filter.pageNo"
          @current-change="pageChanged">
        </el-pagination>
      </div>
    </div>
  </div>  
  <add-store v-if="status === 1"></add-store>
  <edit-store :storeId="storeId" v-if="status === 2"></edit-store> 
  <view-store :storeId="storeId" v-if="status === 3"></view-store>
</div>