<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">مستخدمي النظام</h4>
        <el-button class="btn pull-left" @click.prevent="add"> <i class="material-icons">add</i></el-button>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                  <el-input type="text" placeholder="بحث" 
                    clearable @clear="reload"
                    class="form-control" v-model="filter.search">
                    <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                  </el-input>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
        <div class="table-responsive">
          <el-alert v-if="!users.length" title="لا يوجد بيانات" type="warning" :closable="false">
          </el-alert>
          <table v-else class="table">
            <thead class=" text-info">
              <th>اسم المستخدم</th>
              <th>اسم الدخول</th>
              <th>رقم الهاتف</th>
              <th>منشأ بواسطة</th>
              <th>تاريخ الانشاء</th>
              <th>الإجراءات</th>
            </thead>
            <tbody>
              <tr v-for="(user,index) in users">
                <td>{{user.adminName}}</td>
                <td>{{user.loginName}}</td>
                <td>{{user.phoneNo1}}</td>
                <td>{{user.createdBy}}</td>
                <td class="text-primary">{{user.createdOn}}</td>
                <td>
                  <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                    <i class="material-icons" @click="view(user)">visibility</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                    <i class="material-icons" @click="edit(user)">edit</i>
                  </el-tooltip>
                  <el-tooltip v-if="user.status == 1" class="item" effect="dark" content="تجميد" placement="top">
                    <i class="material-icons" @click="lock(user)">lock</i>
                  </el-tooltip>
                  <el-tooltip v-if="user.status !== 1" class="item" effect="dark" content="فك تجميد" placement="top">
                    <i class="material-icons" @click="unlock(user)">lock_open</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                    <i class="material-icons" @click="deleteUser(user)">delete</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="اعادة تعيين كلمة المرور" placement="top">
                    <i class="material-icons" @click="resetPassword(user)">vpn_key</i>
                  </el-tooltip>
                </td>
              </tr>
            </tbody>
            <div>


            </div>
          </table>
        </div>
        <el-pagination layout="prev, pager, next" 
          :page-size="filter.pageSize" 
          :total="total" 
          :current-page.sync="filter.pageNo"
          @current-change="pageChanged">
        </el-pagination>
      </div>
    </div>
  </div>
  <view-admin-user v-if="status === 3" :userId="userId"></view-admin-user>
  <edit-admin-user v-if="status === 2" :userId="userId"></edit-admin-user>
  <add-admin-user v-if="status === 1"></add-admin-user> 
</div>