<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">الزبائن</h4>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                  <el-input type="text" placeholder="بحث باسم المستخدم" 
                    clearable @clear="reload"
                    class="form-control" v-model="filter.search">
                    <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                  </el-input>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
        <div class="table-responsive">
          <el-alert v-if="!customers.length" title="لا يوجد بيانات" type="warning" :closable="false">
          </el-alert>
          <table v-else class="table">
            <thead class=" text-info">
              <th>اسم المستخدم</th>
              <th>اسم الدخول</th>
              <th>رقم الهاتف</th>
              <th>منشأ بواسطة (Farhi user)</th>
              <th>تاريخ الانشاء</th>
              <th>الإجراءات</th>
            </thead>
            <tbody>
              <tr v-for="(customer,index) in customers">
                <td>{{customer.customerName}}</td>
                <td>{{customer.loginName}}</td>
                <td>{{customer.phoneNo1}}</td>
                <td>{{customer.createdBy}}</td>
                <td class="text-primary">{{customer.createdOn}}</td>
                <td>
                  <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                    <i class="material-icons" @click="view(customer)">visibility</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="اعادة تعيين كلمة المرور" placement="top">
                    <i class="material-icons" @click="resetPassword(customer)">vpn_key</i>
                  </el-tooltip>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <el-pagination layout="prev, pager, next" 
          :page-size="filter.pageSize" 
          :total="total" 
          :current-page.sync="filter.pageNo"
          @current-change="pageChanged">
        </el-pagination>
      </div>
    </div>
  </div>
  <view-customer v-if="status === 3" :itemId="itemId"></view-customer>
</div>