<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">إضافة فرع صالة</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
    </div>

    <div class="card-body">
        <el-form class="view-form">
            <div class="clearfix"></div>
            <!----------------------بيانات الفرع ------------------------>

            <el-divider content-position="right">
                بيانات الفرع
            </el-divider>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">العنوان</label>
                        <el-form-item>
                            <label>{{hallBranchData.addressName}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">تفاصيل العنوان</label>
                        <el-form-item>
                            <label>{{hallBranchData.addressDescription}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 1</label>
                        <el-form-item>
                            <label>{{hallBranchData.phoneNo1}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">رقم الهاتف 2</label>
                        <el-form-item>
                            <label>{{hallBranchData.phoneNo2}}</label>
                        </el-form-item>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">خطوط الطول</label>
                        <el-form-item>
                            <label>{{hallBranchData.longitude}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">خطوط العرض</label>
                        <el-form-item>
                            <label>{{hallBranchData.latitude}}</label>
                        </el-form-item>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">عدد الاشخاص</label>
                        <el-form-item>
                            <label>{{hallBranchData.peapleCapacity}}</label>
                        </el-form-item>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">عدد السيارات</label>
                        <el-form-item>
                            <label>{{hallBranchData.carsCapacity}}</label>
                        </el-form-item>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">ساعات العمل</label>
                        <el-form-item>
                            <label>{{hallBranchData.startTime + '   الي   ' + hallBranchData.endTime}}</label>
                        </el-form-item>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </el-form>
        <!-- </div> -->
        <!----------------------بيانات مواعيد الصالة------------------------>
        <!-- <div class="card-body"> -->
        <el-divider content-position="right">
            بيانات مواعيد الفرع
        </el-divider>
        

        <!-- <div v-if="!flag"></div> -->
        <div>
            <el-alert v-if="!hallBranchData.hallAppointments.length"
                      title=" لا يوجد بيانات مواعيد لهذه الصالة"
                      type="warning"
                      :closable="false">
            </el-alert>
            <el-form v-else class="view-form">
                <div class="row" v-for="appointmant in hallBranchData.hallAppointments">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">اليوم</label>
                            <el-form-item>
                                <label>{{appointmant.workDay}}</label>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">نوع الموعد</label>
                            <el-form-item>
                                <label>{{appointmant.description}}</label>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">ساعات العمل</label>
                            <el-form-item>
                                <label>{{appointmant.startTime + '   الي   ' + appointmant.endTime}}</label>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">السعر</label>
                            <el-form-item>
                                <label>{{appointmant.price}}</label>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>
        
        <!-- </div> -->
        <!----------------------بيانات خدمات الفرع------------------------>
        <!-- <div class="card-body"> -->
        <el-divider content-position="right">
            بيانات خدمات الفرع
        </el-divider>
        <!-- <div v-if="!flag"> -->

        <!-- </div> -->
        <div>
            <el-alert v-if="!hallBranchData.hallServices.length"
                      title=" لا يوجد بيانات خدمات لهذه الصالة"
                      type="warning"
                      :closable="false">
            </el-alert>
            <el-form v-else class="view-form">
                <div class="row" v-for="(service,index) in hallBranchData.hallServices">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">وصف الخدمة</label>
                            <el-form-item>
                                <label>{{service.description}}</label>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">السعر</label>
                            <el-form-item>
                                <label>{{service.price}}</label>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>
        

        <!----------------------بيانات الاشتراك------------------------>
        <!-- <div class="card-body"> -->
        <el-divider content-position="right">
            بيانات الاشتراك
        </el-divider>
        <!-- <div v-if="!flag">

        </div> -->
        <div>
            <el-alert v-if="!hallBranchData.subscriptions[0].length"
                      title=" لا يوجد بيانات اشتراكات لهذه الصالة"
                      type="warning"
                      :closable="false">
            </el-alert>
            <el-form v-else class="view-form">
                <div class="col-md-12" v-for="(subscription,index) in hallBranchData.subscriptions">
                    <div class="row" v-for="s in subscription">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">وصف الاشتراك</label>
                                <el-form-item>
                                    <label>{{s.description}}</label>
                                </el-form-item>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">بداية الاشتراك</label>
                                <el-form-item>
                                    <label>{{s.startDate}}</label>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">نهاية الاشتراك</label>
                                <el-form-item>
                                    <label>{{s.endDate}}</label>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">السعر</label>
                                <el-form-item>
                                    <label>{{s.price}}</label>
                                </el-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </el-form>
        </div>
        
        <el-divider content-position="right">
        </el-divider>
        <div class="el-alert el-alert--info is-light">
            <div class="col-md-12">
                <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="back()">
                    رجوع
                </el-button>
            </div>
        </div>
    </div>
  </div>
</div>