#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 50px;
  }
//   .slider[data-v-6ce668ac] {
//       height: 500px;
//   }
  p {
    margin: 0;
  }
  .example-nav {
      background: #f0f0f0!important;
      padding: 0!important;
      position: relative;
      overflow: hidden;
  }
  .center {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      flex-wrap: wrap;
  }
  .examplex img {
      max-height: 20px;
  }
.content{
    margin: 20px 10px;
    // .vs-card {
    //     max-width: 100%;
    // }
}
.vs-card-content{
    margin: 8px;
}
.slider-item {
    img {
        object-fit: cover;
        vertical-align: top;
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}
.material-icons{
    color: black;
}
.vs-navbar {
    padding: 5px 15px;
}