<div class="row">
    <div class="col-md-12" v-if="status==0">
        <div class="card">
            <div class="card-header card-header-info table-header">
                <h4 class="card-title ">فروع المحلات</h4>
                <el-button class="btn pull-left" @click.prevent="change">إضافة فرع <i class="material-icons">add</i></el-button>
            </div>
            <div class="card-body">
                <el-form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <el-form-item>
                                    <el-select v-loading="loading" v-model="filter.storeId" @change="reload">
                                        <el-option v-for="store in stores" :key="store.storeId" :label="store.storeName"
                                                   :value="store.storeId"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <el-form-item>
                                    <el-select v-loading="loading" v-model="filter.storeTypeId" @change="reload">
                                        <el-option label="الكل" :value="0"></el-option>
                                        <el-option v-for="storeType in storeTypes" :key="storeType.storeTypeId" :label="storeType.description"
                                                   :value="storeType.storeTypeId"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <el-form-item>
                                    <el-input type="text" placeholder="بحث بالعنوان"
                                              clearable
                                              class="form-control"
                                              @clear="reload"
                                              v-model="filter.searchByAddress">
                                        <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                                    </el-input>
                                </el-form-item>
                            </div>
                        </div>
                    </div>
                </el-form>
                <el-divider content-position="right">
                    نوع المحل : {{filter.storeTypeId !== 0 ? storeTypes.find(x=>x.storeTypeId == filter.storeTypeId).description : `الكل`}}
                </el-divider>
                <div class="table-responsive">
                    <el-alert v-if="!storeBranches.length && !filter.storeId"
                              title="يرجي اختيار المحل المطلوب عرض فروعها"
                              type="warning"
                              :closable="false">
                    </el-alert>
                    <el-alert v-else-if="!storeBranches.length && filter.storeId" title=" لا يوجد بيانات لهذه المحل"
                              type="warning"
                              :closable="false">
                    </el-alert>
                    <table class="table" v-else>
                        <thead class=" text-info">
                        <th>عنوان الفرع</th>
                        <th>رقم الهاتف</th>
                        <th>ساعات العمل</th>
                        <th>منشأ بواسطة</th>
                        <th>منشأ بتاريخ</th>
                        <th>الإجراءات</th>
                        </thead>
                        <tbody>
                            <tr v-for="(branch,index) in storeBranches">
                                <td>{{branch.addressName}}</td>
                                <td>{{branch.phoneNo1}}</td>
                                <td>{{branch.workTimes}}</td>
                                <td>{{branch.adminName}}</td>
                                <td>{{branch.createdOn}}</td>

                                <td>
                                    <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                                        <i class="material-icons" @click="viewStoreBranch(index)">visibility</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                                        <i class="material-icons" @click="editStoreBranch(index)">edit</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="اضافة ميديا" placement="top">
                                        <i class="material-icons" @click="addMedia(index)">perm_media</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="اشتراك" placement="top">
                                        <i class="material-icons" @click="addSubscription(index)">add</i>
                                    </el-tooltip>
                                    <el-tooltip v-if="branch.status == 0" class="item" effect="dark" content="تجميد" placement="top">
                                        <i class="material-icons" @click="lockStoreBranch(branch)">lock_open</i>
                                    </el-tooltip>
                                    <el-tooltip v-if="branch.status == 2" class="item" effect="dark" content="فك تجميد" placement="top">
                                        <i class="material-icons" @click="unlockStoreBranch(branch)">lock_outline</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                                        <i class="material-icons" @click="deleteStoreBranch(branch)">delete</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" v-if="branch.storeBranchId != branch.mainBranchId"
                                                content="تعيين كفرع رئيسي" placement="top">
                                        <i class="material-icons" @click="assignMainBranch(branch)">home</i>
                                    </el-tooltip>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <el-pagination layout="prev, pager, next"
                               :page-size="filter.pageSize"
                               :total="total"
                               :current-page.sync="filter.pageNo"
                               @current-change="pageChanged">
                </el-pagination>
            </div>
        </div>
    </div>
    <add-store-branch :storeId="storeId" v-if="status === 1"></add-store-branch>
    <edit-store-branch :storeBranchId="storeBranchId" v-if="status === 2"></edit-store-branch>
    <view-store-branch :storeBranchId="storeBranchId" v-if="status === 3"></view-store-branch>
    <add-media :storeBranchId="storeBranchId" v-if="status === 4"></add-media>
    <add-subscription :storeBranchId="storeBranchId" v-if="status === 5"></add-subscription>

</div>