<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">عرض</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
    </div>

    <div class="card-body">
      <el-form class="view-form">

        <div class="clearfix"></div>
        <!----------------------بيانات  الاشتراك ------------------------>

        <el-divider content-position="right">
          بيانات  الاشتراك
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم نوع الاشتراك</label>
              <el-form-item>
                <label>{{subscriptionData.description}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">نوع الاشتراك</label>
              <el-form-item>
                <label>{{subscriptionData.type}}</label>
              </el-form-item>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <table class="table">
                <thead class=" text-info">
                  <th>المدة</th>
                  <th>نوع المدة</th>
                  <th>السعر</th>
                </thead>
                <tbody>
                  
                  <tr v-for="(subscription,i) in subscriptionData.subscriptionDetails">
                    <td>{{subscription.durationTime}}</td>
                    
                    <td>{{subscription.durationType}}</td>
                    
                    <td>{{subscription.price}}</td>
                  </tr>
                  
                </tbody>
                <div>
                </div>
              </table>
            </div>
          </div>
        </div>
      </el-form>

    </div>
  </div>
</div>