<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">أنواع الاشتراكات</h4>
        <el-button class="btn pull-left" @click.prevent="add"> <i class="material-icons">add</i></el-button>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                  <el-input type="text" placeholder="بحث" 
                    clearable @clear="reload"
                    class="form-control" v-model="filter.search">
                    <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                  </el-input>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
        <div class="table-responsive">
          <el-alert v-if="!subscriptionPrices.length" title="لا يوجد بيانات" type="warning" :closable="false">
          </el-alert>
          <table v-else class="table">
            <thead class=" text-info">
              <th>وصف الاشتراك</th>
              <th>نوع الاشتراك</th>
              <th>منشأ بواسطة</th>
              <th>تاريخ الانشاء</th>
              <th>الإجراءات</th>
            </thead>
            <tbody>
              <tr v-for="(s,index) in subscriptionPrices">
                <td>{{s.description}}</td>
                <td>{{s.type}}</td>
                <td>{{s.createdBy}}</td>
                <td class="text-primary">{{s.createdOn}}</td>
                <td>
                  <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                    <i class="material-icons" @click="view(s)">visibility</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                    <i class="material-icons" @click="edit(s)">edit</i>
                  </el-tooltip>
                  <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                    <i class="material-icons" @click="deleteSubscription(s)">delete</i>
                  </el-tooltip>
                </td>
              </tr>
            </tbody>
            <div>


            </div>
          </table>
        </div>
        <el-pagination layout="prev, pager, next" 
          :page-size="filter.pageSize" 
          :total="total" 
          :current-page.sync="filter.pageNo"
          @current-change="pageChanged">
        </el-pagination>
      </div>
    </div>
  </div>
  <view-subscription :itemId="itemId" v-if="status === 3"></view-subscription>
  <edit-subscription :itemId="itemId" v-if="status === 2"></edit-subscription>
  <add-subscription v-if="status === 1"></add-subscription> 
</div>