<template src="./Add.html">
</template>
<script>

    export default {
        created() {
            this.$store.dispatch('lookup/getCustomers')
            this.$store.dispatch('lookup/getStoreProducts')
        },
        computed: {
            customers() {
                return this.$store.state.lookup.customers
            },
            storeProducts() {
                return this.$store.state.lookup.storeProducts
            },
            loading() {
                return this.$store.state.lookup.loading
            },
            price() {
                return this.$store.state.productReservations.price
            },
        },
        watch:{
            'productReservation.productId': function (val){
                this.getPrice(val)
                //to work with changes in someOtherProp
            },
        },
        data: () => ({
            productReservation: {},
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            getPrice(id){
                this.$store.dispatch('productReservations/getPrice', id)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('productReservations/add', this.productReservation)
                        .then(() => {
                            this.clear();
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.productReservation.productId = null;
                this.productReservation.customerId = null;
                this.productReservation.qty = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>