<template src="./Edit.html">
</template>
<script>

    export default {
        props:["itemId"],
        created() {
            this.$store.dispatch('lookup/getStoreProducts')
            this.$store.dispatch('productReservations/getForEdit', this.itemId).then((res)=>{
                this.productReservation = res.productReservation;
                this.customerName = res.customerName
            })
        },
        computed: {
            storeProducts() {
                return this.$store.state.lookup.storeProducts
            },
            loading() {
                return this.$store.state.lookup.loading
            },
            price() {
                return this.$store.state.productReservations.price
            },
        },
        watch:{
            'productReservation.productId': function (val){
                this.getPrice(val)
                //to work with changes in someOtherProp
            },
        },
        data: () => ({
            productReservation: {
            },
            customerName:""
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            getPrice(id){
                this.$store.dispatch('productReservations/getPrice', id)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('productReservations/edit', {
                            id: this.itemId,
                            payload: this.productReservation
                        })
                        .then(() => {
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.productReservation.productId = null;
                this.productReservation.qty = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>