<template>
  <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
        
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
          clearable
            v-model="modal"
            :label= label
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-if="menu"
          @change="change"
          v-model="modal"
          @input="$refs.menu.save(value)"
        ></v-date-picker>
      </v-menu>
</template>

<script>
export default {
  name: "DatePicker",

  props: {
      value: {
        type: String,
        default: ''
      },
      label: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        menu: false,
        modal: this.value
      }
    },
    watch: {
      modal(currentValue) {
        if(currentValue == null){
          this.modal = ""
          return;
        }
        this.$emit('input', currentValue)
      }
    },
    methods:{
      change() {
        this.$emit('change')
      },
      // clear(){
      //   this.modal = ""
      // }
    }
};
</script>
