<template>
  <v-menu
    ref="menu"
    v-model="menu2"
    :close-on-content-click="false"
    :nudge-right="40"
    :return-value.sync="value"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="model"
        :label="label"
        prepend-icon="mdi-clock-time-four-outline"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-time-picker
      v-if="menu2"
      v-model="model"
      full-width
      @click:minute="$refs.menu.save(value)"
    ></v-time-picker>
  </v-menu>
</template>

<script>
export default {
  name: "TimePicker",

  props: {
      value: {
        type: String,
        default: ''
      },
      label: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        model: this.value,
        menu2: false
      }
    },
    watch: {
      model(currentValue) {
        this.$emit('input', currentValue)
      }
    }
};
</script>
