<div class="sidebar" data-color="azure" data-background-color="white">
    <div class="card card-profile">
        <div class="card-avatar">
                <img class="img"
                    src="../../assets/img/avatar.jpg" />
        </div>
        <div class="card-body">
            <h4 class="card-title">فرحي</h4>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" v-bind:class="{ active: active === 'Dashboard' }" @click="active = 'Dashboard'">
                <router-link to="/Dashboard" tag="a" class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <p>لوحة البيانات</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'Halls' }" @click="active = 'Halls'">
                <router-link to="/Halls" tag="a" class="nav-link">
                    <i class="material-icons">store</i>
                    <p>الصالات</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'hallBranches' }" @click="active = 'hallBranches'">
                <router-link to="/hallBranches" tag="a" class="nav-link">
                    <i class="material-icons">store</i>
                    <span>فروع الصالات</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'stores' }" @click="active = 'stores'">
                <router-link to="/stores" tag="a" class="nav-link">
                    <i class="material-icons">local_grocery_store</i>
                    <span>المحلات</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'StoreBranches' }" @click="active = 'StoreBranches'">
                <router-link to="/StoreBranches" tag="a" class="nav-link">
                    <i class="material-icons">local_convenience_store</i>
                    <span>فروع المحلات</span>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'SliderManagement' }" @click="active = 'SliderManagement'">
                <router-link to="/sliderManagement" tag="a" class="nav-link">
                    <i class="material-icons">slideshow</i>
                    <p>slider management</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'storeTypes' }" @click="active = 'storeTypes'">
                <router-link to="/storeTypes" tag="a" class="nav-link">
                    <i class="material-icons">merge_type</i>
                    <p>انواع المحلات</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'ProductCategories' }" @click="active = 'ProductCategories'">
                <router-link to="/ProductCategories" tag="a" class="nav-link">
                    <i class="material-icons">adjust</i>
                    <p>انواع المنتجات</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'ProductSubCategories' }" @click="active = 'ProductSubCategories'">
                <router-link to="/ProductSubCategories" tag="a" class="nav-link">
                    <i class="material-icons">subject</i>
                    <p>انواع المنتجات الفرعية</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'farhiUsers' }" @click="active = 'farhiUsers'">
                <router-link to="/farhiAdmins" tag="a" class="nav-link">
                    <i class="material-icons">verified_user</i>
                    <p>مستخدمي النظام</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'FarhiUsers' }" @click="active = 'FarhiUsers'">
                <router-link to="/FarhiUsers" tag="a" class="nav-link">
                    <i class="material-icons">person</i>
                    <p>مستخدمي فرحي </p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'customers' }" @click="active = 'customers'">
                <router-link to="/customers" tag="a" class="nav-link">
                    <i class="material-icons">person_pin</i>
                    <p>الزبائن</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'subscriptionPrices' }" @click="active = 'subscriptionPrices'">
                <router-link to="/subscriptionPrices" tag="a" class="nav-link">
                    <i class="material-icons">payment</i>
                    <p>الاشتراكات</p>
                </router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active === 'reports' }" @click="active = 'reports'">
                <router-link to="/reports" tag="a" class="nav-link">
                    <i class="material-icons">report</i>
                    <p>التقارير</p>
                </router-link>
            </li>
        </ul>
    </div>
</div>