﻿<template src="./Index.html">
</template>

<script>
    import Edit from './actions/Edit'
    import Details from './details/Details'
    import Media from './actions/Media'
    export default {
        components: {
            Edit,
            Details,
            Media
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                search: ""
            },
            dialogDelete: false,
            dialog: false,
            headers: [
                { text: 'اسم الصالة', value: 'hallName' },
                { text: 'فرع', value: 'addressName' },
                { text: 'رقم الهاتف', value: 'phoneNo1' },
                { text: 'ساعات العمل', value: 'workTimes' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
            // hallBranches: [],
        }),

        computed: {
            hallBranches() {
                return this.$store.state.hallBranches.hallBranches
            },
            total() {
                return Math.floor(this.$store.state.hallBranches.total / this.filter.pageSize);
            }
        },

        watch: {

            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.getAll();
        },

        methods: {
            getAll() {
                this.$store.dispatch('hallBranches/getAll', this.filter);
            },
            reload(){
                this.filter.pageNo = 1;
                this.getAll();
            },
            add() {
                this.view = 1;
            },
            edit(item) {
                this.itemId = item.hallBranchId;
                this.view = 2;
            },
            details(item) {
                this.itemId = item.hallBranchId;
                this.name = item.hallName
                this.view = 3;
            },


            media(item) {
                this.itemId = item.hallBranchId;
                this.view = 4;
            },

            deleteItem(item) {
                this.itemId = item.hallBranchId
                this.dialogDelete = true
            },

            deleteItemConfirm() {
                this.$store.dispatch('hallBranches/delete', this.itemId);
                this.closeDelete()
            },

            closeDelete() {
                this.dialogDelete = false
            },


            reloadPage(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>