﻿<template src="./Index.html">
</template>

<script>
    import Add from './actions/Add'
    import Edit from './actions/Edit'
    import Details from './details/Details'
    import Media from './actions/Media'
    export default {
        components: {
            Add,
            Edit,
            Details,
            Media
        },
        created(){
            this.getAll();
            this.$store.dispatch('lookup/getAllStoreBranches')
        },
        
        watch: {

            dialog(val) {
                val || this.closeDialog()
            },
        },
        computed: {
            products() {
                return this.$store.state.products.products
            },
            total() {
                return Math.floor(this.$store.state.products.total / this.filter.pageSize);
            },
            allStoreBranches() {
                return this.$store.state.lookup.allStoreBranches
            },
            loading(){
                return this.$store.state.lookup.loading
            },
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                storeBranchId: 0,
                search: ""
            },
            dialog: false,
            dialogOperation: "",
            headers: [
                {
                    text: 'اسم المنتج',
                    //align: 'start',
                    //sortable: false,
                    value: 'name',
                },
                { text: 'اسم المحل', value: 'storeName' },
                { text: 'السعر', value: 'price' },
                { text: 'منشا بواسطة', value: 'createdBy' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
        }),


        methods: {
            getAll() {
                this.$store.dispatch('products/getAll', this.filter);
            },
            add() {
                this.view = 1;
            },
            edit(item) {
                this.itemId = item.productId;
                this.view = 2;
            },
            details(item) {
                this.itemId = item.productId;
                this.view = 3;
            },

            lock(item) {
                this.itemId = item.productId
                this.dialog = true
                this.dialogOperation = "lock"
            },
            unlock(item) {
                this.itemId = item.productId
                this.dialog = true
                this.dialogOperation = "unlock"
            },
            deleteItem(item) {
                this.itemId = item.productId
                this.dialog = true
                this.dialogOperation = "delete"
            },
            media(item) {
                this.itemId = item.productId;
                this.view = 4;
            },
            dialogConfirm() {
                this.$store.dispatch(`products/${this.dialogOperation}`, this.itemId).then(()=>{
                    this.closeDialog()
                })
            },

            closeDialog() {
                this.dialog = false
            },


            reload() {
                this.filter.pageNo = 1;
                this.getAll();
            },
            reloadPage(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>