﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل الحجز</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="hallReservation.hallName"
                                  readonly
                                  label="اسم الصالة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="hallReservation.customerName"
                                  readonly
                                  label="اسم الزبون" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="hallReservation.reservationDate"
                                  readonly
                                  label="تاريخ الحجز" >
                    </v-text-field>
            </v-col>
            
            <v-col cols="3">
                    <v-text-field v-model="hallReservation.createdBy"
                                  readonly
                                  label="المنشا" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="hallReservation.createdOn"
                              readonly
                              label="تاريخ الانشاء" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="hallReservation.modifiedBy"
                                  readonly
                                  label="معدل بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="hallReservation.modifiedOn"
                              readonly
                              label="تاريخ التعديل" >
                </v-text-field>
            </v-col>
        </v-row>

        <h2 class="py-5">المواعيد</h2>
        <v-divider class="my-5"/>

        <v-card class="px-5 py-5">
            <v-row class="my-4" align-content="space-between" v-for="(item, i) in hallReservation.details" :key="i">
                <v-col cols="3">
                        <v-text-field v-model="item.startTime"
                                        readonly
                                        label="وقت بداية الموعد" >
                        </v-text-field>
                </v-col>
                <v-col cols="3">
                        <v-text-field v-model="item.endTime"
                                        readonly
                                        label="إلي" >
                        </v-text-field>
                </v-col>
                <v-col cols="3">
                        <v-text-field v-model="item.price"
                                        readonly
                                        label="السعر" >
                        </v-text-field>
                </v-col>
                <v-col cols="3">
                        <v-text-field v-model="item.reservationType"
                                        readonly
                                        label="نوع الحجز" >
                        </v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-expansion-panels>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                            الخدمات
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <v-row v-for="(item2, i2) in item.services" :key="i2">
                                    <v-col cols="4">
                                        <v-text-field v-model="item2.description"
                                                        readonly
                                                        label="وصف الخدمة" >
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="4">
                                            <v-text-field v-model="item2.price"
                                                        readonly
                                                        label="سعر الخدمة" >
                                            </v-text-field>
                                    </v-col>
                                </v-row>
                                <v-alert v-if="item.services.length == 0" outlined type="warning"> لا توجد خدمات مختارة</v-alert>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-col>
            </v-row>
        </v-card>
    </v-container>
</div>