<template src="./Details.html">
</template>
<script>

    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('hallReservations/getDetails', this.itemId);
        },
        computed: {
            hallReservation() {
                return this.$store.state.hallReservations.hallReservation;
            }
        },
        data: () => ({}),
        methods: {
            back() {
                this.$parent.view = 0;
            },
        },
    }
</script>