﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل الزبون</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>
        </v-toolbar>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="customer.customerName"
                                  readonly
                                  label="اسم الزبون" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="customer.loginName"
                                  readonly
                                  label="اسم الدخول" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="customer.email"
                                  readonly
                                  label="البريد الالكتروني" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="customer.phoneNo1"
                                  readonly
                                  label="رقم الهاتف" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="customer.phoneNo2"
                                  readonly
                                  label="رقم الهاتف 2" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="customer.addressName"
                                  readonly
                                  label="العنوان" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="customer.addressDescription"
                                  readonly
                                  label="تفاصيل العنوان" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="customer.createdBy"
                                  readonly
                                  label="منشأ بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="customer.createdOn"
                              readonly
                              label="تاريخ الانشاء" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="customer.ModifiedBy"
                                  readonly
                                  label="معدل بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="customer.ModifiedOn"
                              readonly
                              label="تاريخ التعديل" >
                </v-text-field>
            </v-col>
        </v-row>

        
        <h2 class="py-5">حجوزات صالة</h2>
        <v-divider class="my-5"/>

        <v-card class="px-5 py-5">
            <v-row class="my-4" align-content="space-between" v-for="(item, i) in customer.hallReservations" :key="i">
                <v-col cols="4">
                        <v-text-field v-model="item.reservationDate"
                                        readonly
                                        label="تاريخ الموعد" >
                        </v-text-field>
                </v-col>
                <v-col cols="4">
                        <v-text-field v-model="item.hall"
                                        readonly
                                        label="اسم الصالة" >
                        </v-text-field>
                </v-col>
                <v-col cols="4">
                        <v-text-field v-model="item.total"
                                        readonly
                                        label="إجمالي السعر" >
                        </v-text-field>
                </v-col>
            </v-row>
        </v-card>
        
        <h2 class="py-5">حجوزات منتجات</h2>
        <v-divider class="my-5"/>

        <v-card class="px-5 py-5">
            <v-row class="my-4" align-content="space-between" v-for="(item, i) in customer.details" :key="i">
                <v-col cols="4">
                        <v-text-field v-model="item.product"
                                        readonly
                                        label="وقت بداية الموعد" >
                        </v-text-field>
                </v-col>
                <v-col cols="4">
                    <v-text-field v-model="item.total"
                                    readonly
                                    label="إجمالي السعر" >
                    </v-text-field>
                </v-col>
            </v-row>
        </v-card>

    </v-container>
</div>