<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">إضافة نوع اشتراك جديد</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>
    </div>

    <div class="card-body">
      <el-form :model="subscriptionData" :rules="rules" ref="subscriptionData">

        <div class="clearfix"></div>
        <!----------------------بيانات  الاشتراك ------------------------>

        <el-divider content-position="right">
          بيانات  الاشتراك
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم نوع الاشتراك</label>
              <el-form-item prop="description">
                <el-input type="text" class="form-control" v-model="subscriptionData.description"></el-input>
              </el-form-item>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">نوع الاشتراك</label>
              <el-form-item prop="type">
                <el-select v-model="subscriptionData.type">
                  <el-option v-for="s in subscriptionTypes" :key="s.value" :label="s.label" :value="s.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>

        </div>
        <el-divider content-position="right">
          تفاصيل الاشتراك
        </el-divider>
        <div class="row" v-for="(ss,i) in subscriptionData.subscriptionDetails">
          <!-- <div class="col-md-12">
            <div class="form-group"> -->
          <el-form style="display:flex; width: 100%;" :model="ss" :rules="ssRules" ref="subscriptionDetails">
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">نوع المدة</label>
                <el-form-item prop="durationType">
                  <el-select v-model="ss.durationType">
                    <el-option v-for="d in durationTypes" :key="d.value" :label="d.label" :value="d.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">قيمة المدة</label>
                <el-form-item prop="durationTime">
                  <el-input type="text" class="form-control" v-model="ss.durationTime"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">السعر</label>
                <el-form-item prop="price">
                  <el-input type="text" class="form-control" v-model="ss.price"></el-input>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item style="margin-top: 50px;" v-if="subscriptionData.subscriptionDetails.length > 1">
                  <i class="material-icons" @click="deleteItem(i)">delete</i>
                </el-form-item>
              </div>
            </div>
          </el-form>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i @click="addSubscriptionDetails">
              <el-alert :closable="false" title="اضغط لاضافة بيانات الاشتراك" type="warning">
              </el-alert>
            </i>
          </div>
        </div>
      </el-form>
      <el-divider content-position="right">
      </el-divider>

      <div class="el-alert el-alert--info is-light">
        <div class="col-md-12">
          <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="add">إضافة اشتراك
          </el-button>
        </div>

      </div>
    </div>
  </div>
</div>