<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">إضافة مستخدم جديد</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

    </div>

    <div class="card-body">
      <el-form :model="user" :rules="rules" ref="user">
        <div class="clearfix"></div>
        <!----------------------بيانات المستخدم ------------------------>

        <el-divider content-position="right">
          بيانات الفرع
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم المستخدم</label>
              <el-form-item prop="user">
                <el-input type="text" class="form-control" v-model="user.userName"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم الدخول</label>
              <el-form-item prop="loginName">
                <el-input type="text" class="form-control" v-model="user.loginName"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">البريد الالكتروني</label>
              <el-form-item prop="email">
                <el-input type="text" class="form-control" v-model="user.email"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 1</label>
              <el-form-item prop="phoneNo1">
                <el-input type="text" class="form-control" v-model="user.phoneNo1"></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 2</label>
              <el-form-item prop="phoneNo2">
                <el-input type="text" class="form-control" v-model="user.phoneNo2"></el-input>
              </el-form-item>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">كلمة المرور</label>
              <el-form-item prop="password">
                <el-input show-password type="password" class="form-control" v-model="user.password">
                  <i slot="prefix" class="el-input__icon el-icon-plus" @click="generatePassword"></i>
                </el-input>
              </el-form-item>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">الصالة</label>
              <el-form-item prop="hallId">
                <el-select @change="getHallBranches" v-model="user.hallId" filterable placeholder="اختر الصالة">
                  <el-option v-for="hall in halls" :label="hall.hallName"
                   :key="hall.hallId" :value="hall.hallId">{{hall.hallName}}</el-option>
                </el-select>
              </el-form-item>
            </div>
          </div> -->

          <!-- <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">جميع الفروع</label>
              <el-form-item prop="hallId">
                <el-switch v-model="allBranches" :disabled="user.hallId == null">
                </el-switch>
              </el-form-item>
            </div>
          </div> -->
        </div>
        <el-divider content-position="right">
          الصالات
        </el-divider>
        <div class="row">
          <div class="col-md-12">
            <el-button type="text" @click="addHallDialog">
              اضغط لاضافة صالة جديدة
            </el-button>
          </div>
          <div class="col-md-12">
            <el-collapse v-model="activeCollapse" accordion>
              <el-collapse-item v-for="(h,index) in user.halls"
                :title="halls.find(x => x.hallId == h.id).hallName" :name="h.id">
                <div class="col-md-12">
                  <div class="form-group" v-loading="loading">
                    <el-form-item>
                      <el-transfer :props="{
                        key: 'value',
                        label: 'label'
                      }" :titles="['قائمة الفروع', 'الفروع المختارة']" filterable  filter-placeholder="الفروع"
                        v-model="h.branches" :data="hallBranches"
                        @change = "checkHalls(index)">
                      </el-transfer>
                  </el-form-item>
                  </div>
              </div>
                <div class="row">
                  <div class="col-md-12">

                    <el-button-group>
                      <el-button style="margin-right:20px; color:red;" type="text" @click="deleteHall(index)">
                        اضغط لحذف البيانات بالكامل
                      </el-button>
                    </el-button-group>
                  </div>
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>

        
        <el-divider content-position="right">
          المحلات
        </el-divider>
        <div class="row">
          <div class="col-md-12">
            <el-button type="text" @click="addStoreDialog">
              اضغط لاضافة محل جديدة
            </el-button>
          </div>
          <div class="col-md-12">
            <el-collapse v-model="activeCollapse" accordion>
              <el-collapse-item v-for="(h,index) in user.stores"
                :title="stores.find(x => x.storeId == h.id).storeName" :name="h.id">
                <div class="col-md-12">
                  <div class="form-group" v-loading="loading">
                    <el-form-item>
                      <el-transfer :props="{
                        key: 'value',
                        label: 'label'
                      }" :titles="['قائمة الفروع', 'الفروع المختارة']" filterable  filter-placeholder="الفروع"
                        v-model="h.branches" :data="storeBranches"
                        @change = "checkStores(index)">
                      </el-transfer>
                  </el-form-item>
                  </div>
              </div>
                <div class="row">
                  <div class="col-md-12">

                    <el-button-group>
                      <el-button style="margin-right:20px; color:red;" type="text" @click="deleteStore(index)">
                        اضغط لحذف البيانات بالكامل
                      </el-button>
                    </el-button-group>
                  </div>
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>


        <el-divider content-position="right">
          الصلاحيات
        </el-divider>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" v-loading="loading">
              <el-alert title="لا يوجد بيانات" type="warning" :closable="false">
              </el-alert>
            </div>
          </div>
        </div>
      </el-form>

      <div class="el-alert el-alert--info is-light">
        <div class="col-md-12">
          <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="add">إضافة
          </el-button>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------->
  <el-dialog title="الصالة و فروعها" :visible.sync="addHallFlag" width="90%">
    <el-form>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="bmd-label-floating">الصالة</label>
            <el-form-item prop="hallId">
              <el-select @change="getHallBranches" v-model="hall.id" filterable placeholder="اختر الصالة">
                <el-option v-for="hall in halls" :label="hall.hallName" :key="hall.hallId" :value="hall.hallId">
                  {{hall.hallName}}</el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group" v-loading="loading">
            <el-form-item>
              <el-transfer :props="{
                    key: 'value',
                    label: 'label'
                  }" :titles="['قائمة الفروع', 'الفروع المختارة']" filterable filter-placeholder="الفروع"
                v-model="hall.branches" :data="hallBranches">
              </el-transfer>
            </el-form-item>
          </div>
        </div>
      </div>
    </el-form>
    <div class="el-alert el-alert--info is-light">
      <div class="col-md-12">
        <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="addHall">
          إضافة
        </el-button>
        <el-button class="btn btn-left add-sale-btn" @click="close">الغاء</el-button>
      </div>
    </div>
  </el-dialog>

  
  <!---------------------------------------------------------------------------->
  <el-dialog title="المحل و فروعها" :visible.sync="addStoreFlag" width="90%">
    <el-form>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="bmd-label-floating">المحل</label>
            <el-form-item prop="storeId">
              <el-select @change="getStoreBranches" v-model="store.id" filterable placeholder="اختر المحل">
                <el-option v-for="store in stores" :label="store.storeName" :key="store.storeId" :value="store.storeId">
                  {{store.storeName}}</el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group" v-loading="loading">
            <el-form-item>
              <el-transfer :props="{
                    key: 'value',
                    label: 'label'
                  }" :titles="['قائمة الفروع', 'الفروع المختارة']" filterable filter-placeholder="الفروع"
                v-model="store.branches" :data="storeBranches">
              </el-transfer>
            </el-form-item>
          </div>
        </div>
      </div>
    </el-form>
    <div class="el-alert el-alert--info is-light">
      <div class="col-md-12">
        <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click.prevent="addStore">
          إضافة
        </el-button>
        <el-button class="btn btn-left add-sale-btn" @click="close">الغاء</el-button>
      </div>
    </div>
  </el-dialog>
</div>