<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">بيانات الصالة</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

    </div>
    <!----------------------بيانات الصالة------------------------>

    <div class="card-body">
      <el-form class="view-form" v-loading="$loading.status">
        <el-divider content-position="right">
          بيانات الصالة
        </el-divider>

        <div class="row" >
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">اسم الصالة</label>
                  <el-form-item >
                    <label>{{hallData.hallName}}</label>
                  </el-form-item>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">اسم المالك</label>
                  <el-form-item >
                    <label>{{hallData.ownerName}}</label>
                  </el-form-item>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">رقم الهاتف 1</label>
                  <el-form-item >
                    <label>{{hallData.phoneNo1}}</label>
                  </el-form-item>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">رقم الهاتف 2</label>
                  <el-form-item>
                    <label>{{hallData.phoneNo2}}</label>
                  </el-form-item>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">البريد الالكتروني</label>
                  <el-form-item >
                    <label>{{hallData.email}}</label>
                  </el-form-item>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">شعار الصالة</label>
                  <el-form-item >
                    <div class="block">
                      <el-image
                        style="width: 100px; height: 100px"
                        :src="hallData.logo"
                        fit="fill"></el-image>
                    </div>
                    <!-- <label>{{hallData.logo}}</label> -->
                  </el-form-item>
                </div>            
              </div>
            </div>
          </div>
          

        </div>

        <div class="clearfix"></div>
        <!----------------------بيانات الفرع الرئيسي------------------------>

        <el-divider content-position="right">
          بيانات الفرع الرئيسي
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">العنوان</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.addressName}}</label>
              </el-form-item>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">تفاصيل العنوان</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.addressDescription}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 1</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.phoneNo1}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 2</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.phoneNo2}}</label>
              </el-form-item>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">خطوط الطول</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.longitude}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">خطوط العرض</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.latitude}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">عدد الاشخاص</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.peapleCapacity}}</label>
              </el-form-item>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">عدد السيارات</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.carsCapacity}}</label>
              </el-form-item>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">ساعات العمل</label>
              <el-form-item>
                  <label>{{hallData.hallBranch.startTime}} - {{hallData.hallBranch.endTime}}</label>
              </el-form-item>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <!----------------بيانات المستخدم للفرع الرئيسي--------------->
        <el-divider content-position="right">
          بيانات المستخدم
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم المستخدم</label>
              <el-form-item>
                <label>{{hallData.farhiUser.userName}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم الدخول</label>
              <el-form-item>
                  <label>{{hallData.farhiUser.loginName}}</label>
              </el-form-item>
            </div>
          </div>
          

        </div>

        <div class="clearfix"></div>
      </el-form>
    </div>
  </div>
</div>