<div id="app" >
  <Login v-if="1==2"></Login>
  <div class="wrapper" v-else>
    <SideBar></SideBar>
  <div class="main-panel">
    <MyHeader style="z-index: -1"></MyHeader>
    <div class="content">
      <div class="container-fluid">
        <routerView></routerView>
      </div>
    </div>

    <!-- <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com">
                    Creative Tim
                  </a>
                </li>
                <li>
                  <a href="https://creative-tim.com/presentation">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com">
                    Blog
                  </a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/license">
                    Licenses
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright float-right">
              &copy;
              2019, made with <i class="material-icons">favorite</i> by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
          </div>
        </footer> -->
  </div>
  </div>
</div>
