﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تعديل محل </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="select" rules="required">
                            <v-select v-model="storeBranch.addressId" :items="addresses" label="العنوان" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="addressDescription" rules="required">
                            <v-text-field :error-messages="errors" v-model="storeBranch.addressDescription" label="العنوان" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="phoneNo1" :rules="{
                            required: true,
                            digits: 9,
                          }">
                            <v-text-field :error-messages="errors" v-model="storeBranch.phoneNo1" label="رقم الهانف 1" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="phoneNo2">
                            <v-text-field v-model="storeBranch.phoneNo2" label="رقم الهاتف 2" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="longitude" >
                            <v-text-field v-model="storeBranch.longitude" label="خط الطول" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="latitude" >
                            <v-text-field v-model="storeBranch.latitude" label="دائرة العرض" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <TimePicker v-model="storeBranch.timeRange[0]" label="ساعات العمل المعتادة" />
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <TimePicker v-model="storeBranch.timeRange[1]" label="الي" />
                        </validation-provider>
                    </v-col>
                </v-row>
                
                <v-divider class="my-5" />
                <v-card>
                    <v-tabs v-model="tab" background-color="primary" dark>
                        <v-tab>
                            ساعات العمل
                        </v-tab>
                        <v-tab>
                            الخدمات
                        </v-tab>
                    </v-tabs>

                    <v-tabs-items v-model="tab">
                        <v-tab-item v-for="(item,index) in 2" :key="index">
                            <v-card flat>
                                <!--*******************************WorkDays****************************************-->

                                <v-card-text v-if="tab == 0">
                                                

                                    <v-divider />
                                    <v-simple-table height="300px">
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th>اليوم</th>
                                                    <th>ساعات العمل من</th>
                                                    <th>إلي</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,i) in storeBranch.storeWorkDays" :key="i">
                                                    <td>{{days.find(x => x.workDayId == item.workDayId).text }}</td>
                                                    <td v-if="item.timeRange[0] != '' ">
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <TimePicker v-model="item.timeRange[0]" />
                                                        </validation-provider>
                                                    </td>
                                                    <td v-else> - </td>
                                                    <td v-if="item.timeRange[0] != '' ">
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <TimePicker v-model="item.timeRange[1]" />
                                                        </validation-provider>
                                                    </td>
                                                    <td v-else> - </td>
                                                    <td>
                                                        <v-icon v-if="item.timeRange[0] == '' " small @click="addTime(i)">
                                                            mdi-sun-clock
                                                        </v-icon>
                                                        <v-icon v-if="item.timeRange[0] != '' " small @click="clearTime(i)">
                                                            mdi-debug-step-over
                                                        </v-icon>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-card-text>
                                <!--*******************************Services****************************************-->

                                <v-card-text v-else-if="tab == 1">
                                    <v-toolbar flat>
                                        <v-spacer />
                                        <v-btn small color="primary" dark @click="addService">
                                            إضافة خدمة
                                        </v-btn>

                                    </v-toolbar>

                                    <v-divider />
                                    <v-simple-table height="300px">
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th>الوصف</th>
                                                    <th>السعر</th>
                                                    <th>عدد الحجوزات الحالية</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,i) in storeBranch.services" :key="i">
                                                    <td>
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <v-text-field v-model="item.description" />
                                                        </validation-provider>
                                                    </td>
                                                    <td>
                                                        <validation-provider v-slot="{ errors }" name="Name"
                                                            rules="required">
                                                            <v-text-field v-model="item.price" />
                                                        </validation-provider>
                                                    </td>
                                                    <td>{{ item.reservationStatus }}</td>
                                                    <td>
                                                        <v-icon small @click="deleteService(i, item.reservationStatus)">
                                                            mdi-delete
                                                        </v-icon>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                </v-card>
                <v-row no-gutters class="mt-10">
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>



    </v-container>
</div>