<template src="./Edit.html">
</template>
<script>
    import helper from '@/shared/helper';

    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('lookup/getAddresses');
            this.$store.dispatch('lookup/getStoreTypes');
            this.$store.dispatch('storeBranches/getForEdit', this.itemId)
                .then((res) => {
                    this.storeBranch = res;
                })
                .catch(() => { });
        },
        computed:{
            loading(){
                return this.$store.state.storeBranches.loading
            },
            addresses(){
                return this.$store.state.lookup.addresses
            },
            storeTypes(){
                return this.$store.state.lookup.storeTypes
            },
            
            days(){
                return this.$store.state.lookup.days
            }
        },
        data: () => ({
            storeBranch: {
                storeWorkDays:[],
                //timeRange: ["",""]
            },
            tab: 0,
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            addTime(index){
                this.storeBranch.storeWorkDays[index].timeRange[0] = "00:00"
                this.storeBranch.storeWorkDays[index].timeRange[1] = "00:00"
                this.clear()
            },
            
            addService(){
                this.storeBranch.services.push({
                    serviceId:0,
                    description: "",
                    price: null,
                    reservationStatus: 0,
                });
            },
            deleteService(index, reservationStatus){
                if(reservationStatus > 0){
                    helper.startNotify("لا يمكن حذف خدمة يحتوي علي حجوزات","error");
                    return;
                }
                this.storeBranch.services.splice(index,1);
            },
            clearTime(index){
                this.storeBranch.storeWorkDays[index].timeRange[0] = ''
                this.storeBranch.storeWorkDays[index].timeRange[1] = ''
                this.clear()
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('storeBranches/edit', {
                        id: this.itemId,
                        payload: this.storeBranch
                    }).then(() => {
                            this.back();
                    })
                    .catch(() => { });
                }).catch(() => { });
            },
            clear() {
                this.$refs.observer.reset()
            },
        },
    }
</script>