<template src="./Media.html">
</template>
<script>

    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('storeBranches/getImages', this.itemId)
                .then((res) => {
                    this.images = res;
                })
                .catch(() => { });
                this.getVideo()
        },
        computed:{
            // video(){
            //     return this.$store.state.storeBranches.video
            // }
        },
        data: () => ({
            tab: null,
            checkedImages:[],
            images:[],
            files:[],
            num:0,
            video:""
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            
            getVideo() {
                this.$store.dispatch('storeBranches/getVideo', this.itemId)
                .then((res) => {
                    this.video = res
                })
                .catch(() => {});
            },
            addVideo(file){
                const formData = new FormData();
                formData.append("file", file)
                var reader = new FileReader();
                reader.readAsDataURL(file);
                let video = "";
                reader.onload = function () {
                    video = reader.result;
                };
                reader.onerror = function (error) {
                    console.log('Error: ', error);
                };
                this.$store.dispatch('storeBranches/addVideo', {
                        id: this.itemId,
                        payload: formData,
                        //video
                    })
                    .then(() => {
                        this.num++ 
                        this.video = video
                    })
                    .catch(() => { });
            },
            addImages(files){
                //const forms= [];
                files.forEach((file)=>{
                    const formData = new FormData();
                    formData.append("file", file);
                    this.$store.dispatch('storeBranches/addImages', {
                        id: this.itemId,
                        payload: formData,
                        //video
                    })
                    .then((res) => {
                        this.images.push(res)
                    })
                    .catch(() => { });
                })
                
            },
            deleteImages(){
                if(!this.checkedImages.length) return;
                this.$store.dispatch('storeBranches/deleteImages', this.checkedImages)
                    .then(() => {
                        this.checkedImages.forEach(x => {
                            let index = this.images.findIndex(p => p.imageId == x);
                            this.images.splice(index,1);
                            this.checkedImages = []
                        })
                    })
                    .catch(() => { });
            },
            deleteVideo(){
                this.$store.dispatch('storeBranches/deleteVideo', this.itemId)
                    .then(() => {
                        this.video = null;
                        this.num++;
                    })
                    .catch(() => { });
            }
        },
    }
</script>