<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info table-header">
            <h4 class="card-title">تعديل صاله</h4>
            <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

        </div>
        <!----------------------بيانات الصالة------------------------>

        <div class="card-body">
            <el-form :model="hallData" :rules="rules" ref="hallData">
                <el-divider content-position="right">
                    بيانات الصالة
                </el-divider>

                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اسم الصالة</label>
                                    <el-form-item prop="hallName">
                                        <el-input type="text" class="form-control" v-model="hallData.hallName"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">اسم المالك</label>
                                    <el-form-item prop="ownerName">
                                        <el-input type="text" class="form-control" v-model="hallData.ownerName"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">رقم الهاتف 1</label>
                                    <el-form-item prop="phoneNo1">
                                        <el-input type="text" class="form-control" v-model="hallData.phoneNo1"></el-input>
                                    </el-form-item>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">رقم الهاتف 2</label>
                                    <el-form-item prop="phoneNo2">
                                        <el-input type="text" class="form-control" v-model="hallData.phoneNo2"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">البريد الالكتروني</label>
                                    <el-form-item prop="email">
                                        <el-input type="text" class="form-control" v-model="hallData.email"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">شعار الصالة</label>
                                    <el-form-item prop="logo">
                                        <el-upload class="avatar-uploader"
                                                   action=""
                                                   :auto-upload="false"
                                                   ref="upload"
                                                   :on-change="handleAvatarSuccess"
                                                   accept="image/*"
                                                   list-type="picture"
                                                   :show-file-list="false">
                                            <img v-if="hallData.logo" :src="hallData.logo" class="avatar">
                                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                        </el-upload>
                                    </el-form-item>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="clearfix"></div>
                <!-- </el-form> -->
                <!-- </div> -->
                <!----------------------بيانات الفرع الرئيسي------------------------>
                <!-- <div class="card-body"> -->
                <el-divider content-position="right">
                    بيانات الفرع الرئيسي
                </el-divider>

                <!-- <el-form :model="hallData" :rules="rules" ref="hallData"> -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">العنوان</label>
                            <el-form-item prop="hallBranch.addressId">
                                <el-select v-model="hallData.hallBranch.addressId" v-loading="loading">
                                    <el-option v-for="address in addresses"
                                               :key="address.addressId"
                                               :label="address.addressName"
                                               :value="address.addressId"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">تفاصيل العنوان</label>
                            <el-form-item prop="hallBranch.addressDescription">
                                <el-input type="text" class="form-control" v-model="hallData.hallBranch.addressDescription"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 1</label>
                            <el-form-item prop="hallBranch.phoneNo1">
                                <el-input type="text" class="form-control" v-model="hallData.hallBranch.phoneNo1"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">رقم الهاتف 2</label>
                            <el-form-item prop="hallBranch.phoneNo2">
                                <el-input type="text" class="form-control" v-model="hallData.hallBranch.phoneNo2"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط الطول</label>
                            <el-form-item prop="hallBranch.longitude">
                                <el-input-number type="text" class="form-control"
                                                 controls-position="right"
                                                 v-model="hallData.hallBranch.longitude"></el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">خطوط العرض</label>
                            <el-form-item prop="hallBranch.latitude">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control" v-model="hallData.hallBranch.latitude">
                                </el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">عدد الاشخاص</label>
                            <el-form-item prop="hallBranch.peapleCapacity">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control" v-model="hallData.hallBranch.peapleCapacity">
                                </el-input-number>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">عدد السيارات</label>
                            <el-form-item prop="hallBranch.carsCapacity">
                                <el-input-number controls-position="right"
                                                 type="text" class="form-control" v-model="hallData.hallBranch.carsCapacity">
                                </el-input-number>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">ساعات العمل</label>
                            <el-form-item prop="hallBranch.timeRange">
                                <el-time-picker is-range v-model="hallData.hallBranch.timeRange" range-separator="-"
                                                start-placeholder="وقت البداية" end-placeholder="وقت النهاية"
                                                format="HH:mm" value-format="HH:mm:ss">
                                </el-time-picker>
                            </el-form-item>
                        </div>
                    </div>


                </div>
                <el-divider content-position="right">
                    مواعيد الفرع الرئيسي
                </el-divider>
                <el-alert title=" تعديل المواعيد يتم في واجهة فروع الصالة - اختيار الفرع -> تعديل "
                          type="warning"
                          :closable="false">
                </el-alert>

                <el-divider content-position="right">
                    خدمات الفرع الرئيسي
                </el-divider>
                <el-alert title=" تعديل الخدمات يتم في واجهة فروع الصالة - اختيار الفرع -> تعديل "
                          type="warning"
                          :closable="false">
                </el-alert>
                <div class="clearfix"></div>

                <div class="el-alert el-alert--info is-light">
                    <div class="col-md-12">
                        <el-button type="submit" class="btn btn-info btn-left add-sale-btn" @click="editItem()">
                            تعديل الصالة
                        </el-button>
                    </div>

                </div>
            </el-form>
        </div>
    </div>
</div>