html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family:"Neo Sans Arabic Regular"
}

.row {
    direction: rtl;
}

.form-group {

    .el-input {
        &:focus {
            outline: 0;
        }
    }
    .el-input__inner {
        line-height: 1.1;
        background-image: linear-gradient(to top, #26c6da 2px, #00abc100 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
        background-size: 0 100%, 100% 100%;
        border: 0;
        height: 36px;

        &:focus {
            background-size: 100% 100%, 100% 100%;
            transition: background 0s ease-out;

            transition-duration: 0.3s;

        }
    }
    .el-range-editor {
        margin: 7px;
    }
    .el-select {
        width: 100%;
        .el-input input {
            padding: 0 15px;
            margin-top: 7px;
        }
        .el-input__suffix {
            left: 5px;
            right: unset;
        }
    }
    // .el-date-editor{
    //     width: 100%;
    //     margin-top: 5px;
    //     .el-input__suffix {
    //         left: 5px;
    //         right: unset;
    //         width: 77777px;
    //     }
    //     .el-input__prefix {
    //         right: 5px;
    //         left: unset;
    //     }
    // }  
}
.btn-left{
    float: left;
}


.el-form-item__error{
    margin-top: 11px;
}


.dialog-footer{
    margin-top: -50px;
    display: flex;
    justify-content: flex-end;
}


.add-sale-btn {
    margin-top: 40px;

}

.sale-btn {
width: 85px;
}
.el-time-range-picker__cell{
    float: right;
}
.el-time-panel__footer{
    float: right;
}
.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
    width: 100%;
}
.el-divider__text{
    font-size: 24px;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .el-tabs__nav-scroll{
      float: right;
      width: 100%;
  }
  .el-tabs__item.is-active{
      width: 50%;
  }
  .el-tabs__nav{
      width: 100%;
  }
  .el-tabs__item{
      width: 50%;
  }
  .el-tabs--card > .el-tabs__header .el-tabs__item:first-child {
    border-left: 1px solid;
    }
    .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
        border-bottom-color: teal;
    }
    .ele-upload-video{
        .ele-upload-video,.el-upload__tip{
            display: none;
        }
    }
    .el-transfer{
        display: block;
    }
    .el-transfer-panel{
        width: 40%;
    }
    .el-checkbox__input{
        margin: 0px 10px 0px 10px;
    }
    .el-transfer-panel__item.el-checkbox .el-checkbox__label{
        margin: 0px 40px 0px 40px;
    }
    .el-checkbox:last-of-type{
        margin: 0px 30px 0px 10px;
    }
    .el-radio-button{
        margin: 5px;
        border: 0.2px solid #e3e3e3;    
    }
    .el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label span{
        left: 15px;
        right: auto;
    }
    .el-transfer-panel__body{
        height: 400px;
    }
    .el-transfer-panel__list.is-filterable{
        height: 350px;
    }
    .el-button--primary.is-disabled, .el-button--primary.is-disabled:hover, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:active{
        margin: 3px;
    }
    .example{
        .text-info {
            th {
                border: 1px solid teal;
                border-radius: 10px 10px 0px 0px;
            }
        }
        .tbody-info {
            td {
                border: 1px solid teal;
            }
        }
        
    }
    .view-form{
        .el-form-item__content{
            label{
                background-color: #33a7a71a;
                width: 90%;
                padding: 10px;
                font-size: 16px;
                border-radius: 15px;
                height: 40px;
            }
        }
    }
    .el-carousel__item{
        overflow: auto;
    }
    .el-carousel__container{
        height: 1000px;
    }
.check-image {
    input[type="checkbox"] {
        display: none;
    }

    label {
        //border: 1px solid #fff;
        //padding: 10px;
        display: block;
        position: relative;
        //margin: 10px;
        cursor: pointer;
    }

    label:after {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label img {
        //height: 100px;
        width: 100%;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

    :checked + label {
        border-color: #ddd;
    }

    :checked + label:after {
        content: "🗸";
        background-color: grey;
        transform: scale(1);
    }

    :checked + label img {
        transform: scale(0.9);
        /* box-shadow: 0 0 5px #333; */
        z-index: -1;
    }

    
}
.el-table td, .el-table th.is-leaf {
    text-align: center ;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #ffd5d5;
}
.el-table__body tr.current-row > td {
    background-color: #f5bcbc;
}
