<div class="row">
  <div class="col-md-12" v-if="status==0">
    <div class="card">
      <div class="card-header card-header-info table-header">
        <h4 class="card-title ">الصالات</h4>
        <el-button class="btn pull-left" @click.prevent="change">إضافة صالات <i class="material-icons">add</i>
        </el-button>
      </div>
      <div class="card-body">
        <el-form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <el-form-item>
                    <el-input type="text" placeholder="بحث"
                              clearable
                              class="form-control"
                              @clear="reload"
                              v-model="filter.searchByName">
                        <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                    </el-input>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
        <div class="table-responsive">
            <el-alert v-if="!halls.length" title="لا يوجد بيانات"
                      type="warning"
                      :closable="false">
            </el-alert>
            <table v-else class="table" v-loading="$loading.status">
                <thead class="text-info">
                    <th>اسم الصالة</th>
                    <th>اسم المالك</th>
                    <th>رقم الهاتف</th>
                    <th>منشأ بواسطة</th>
                    <th>منشأ بتاريخ</th>
                    <th>الإجراءات</th>
                </thead>
                <tbody>
                    <tr v-for="(hall,index) in halls">
                        <td>{{hall.hallName}}</td>
                        <td>{{hall.ownerName}}</td>
                        <td>{{hall.phoneNo1}}</td>
                        <td>{{hall.adminName}}</td>
                        <td class="text-primary">{{hall.createdOn}}</td>

                        <td>
                            <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                                <i class="material-icons" @click="viewHall(index)">visibility</i>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                                <i class="material-icons" @click="editHall(index)">edit</i>
                            </el-tooltip>
                            <el-tooltip v-if="hall.status == 1" class="item" effect="dark" content="تجميد" placement="top">
                                <i class="material-icons" @click="lockHall(hall)">lock_outline</i>
                            </el-tooltip>
                            <el-tooltip v-if="hall.status == 2" class="item" effect="dark" content="فك تجميد" placement="top">
                                <i class="material-icons" @click="unlockHall(hall)">lock_open</i>
                            </el-tooltip>
                            <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                                <i class="material-icons" @click="deleteHall(hall)">delete</i>
                            </el-tooltip>
                        </td>
                    </tr>
                </tbody>
                <div>


                </div>
            </table>
        </div>
        <el-pagination layout="prev, pager, next" :page-size="filter.pageSize" :total="total"
          :current-page.sync="filter.pageNo" @current-change="pageChanged">
        </el-pagination>
      </div>
    </div>
  </div>
  <add-hall v-if="status === 1"></add-hall>
  <edit-hall v-if="status === 2"></edit-hall>
  <view-hall v-if="status === 3"></view-hall>
</div>