<div class="grid">
  <div class=" examplex">
    <vs-navbar color="#000000" text-white center-collapsed v-model="active">
      <template #left>
        <img src="../assets/logo.png" alt="">
      </template>
      <vs-navbar-item :active="active == 'guide'" id="guide">
        Guide
      </vs-navbar-item>
      <vs-navbar-item :active="active == 'docs'" id="docs">
        Documents
      </vs-navbar-item>
      <vs-navbar-item :active="active == 'components'" id="components">
        Components
      </vs-navbar-item>
      <vs-navbar-item :active="active == 'license'" id="license">
        license
      </vs-navbar-item>
      <template #right>
        <vs-input v-model="value2" placeholder="search" @click-icon="value2 = 'hg'">
          <template #icon>
            <i>
              <span class="material-icons icon-image-preview">search</span>
            </i>
          </template>
        </vs-input>
        <vs-button color="#fff" flat>Login</vs-button>
        <vs-button color="#fff" border>Get Started</vs-button>
      </template>
    </vs-navbar>
  </div>
  <Slider height="500px" animation="fade" v-model="sliderValue" :duration="5000" :speed="1000">
    <SliderItem v-for="(i, index) in list" :key="index" @click="changeIndex(1);" :style="i" :autoplay="false">
      <!-- <p style="line-height: 500px; font-size: 5rem; text-align: center;">
        Page{{ index + 1 }}
      </p> -->
        <img :src="`/img/foto${index+7}.jpg`" alt="">
    </SliderItem>
  </Slider>
  <div class="content center grid">
    <h3>Our services</h3>
    <vs-row>
      <vs-col :key="index" v-for="col,index in 6" vs-type="flex" vs-justify="center" vs-align="center" w="4">
        <vs-card type="5">
          <template #title>
            <h3>Pot with a plant</h3>
          </template>
          <template #img>
            <img :src="`/img/foto${col}.png`" alt="">
          </template>
          <template #text>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </template>
          <template #interactions>
            <vs-button danger icon>
              <i class='bx bx-heart'></i>
            </vs-button>
            <vs-button class="btn-chat" shadow primary>
              <i class='bx bx-chat' ></i>
              <span class="span">
                54
              </span>
            </vs-button>
          </template>
        </vs-card>
      
      </vs-col>
    </vs-row>
  </div>
</div>