<div>
    <div v-if="view === 0" class="my-10 py-5">
        <v-data-table :headers="headers"
                      :items="storeBranches"
                      class="elevation-1"
                      disable-pagination
                      hide-default-footer
                      no-data-text="لا يوجد بيانات متاحة">
            <template v-slot:top>
                <v-toolbar flat>
                    
                    <v-toolbar-title>
                        <v-col cols="12" class="mr-4">
                            <v-text-field append-icon="mdi-magnify" @click:append="reload"
                                          v-model="filter.search" label="بحث">
                            </v-text-field>
                        </v-col>
                    </v-toolbar-title>
                    <!-- <v-divider class="mx-4" inset vertical></v-divider> -->
                    <Dialog @close="closeDelete" @confirm="deleteItemConfirm" :dialog="dialogDelete" />
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="details(item)">
                    mdi-eye
                </v-icon>
                <v-icon small @click="edit(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small @click="media(item)">
                    mdi-video
                </v-icon>

                
            </template>

        </v-data-table>
        <div class="text-center secondary">
            <v-pagination v-model="filter.pageNo"
                          :length="total"
                          circle
                          @input="reloadPage">
            </v-pagination>
        </div>
    </div>
    <!----------------------------------------------------------------------->
    <Edit :itemId="itemId" v-if="view === 2" />
    <Details :itemId="itemId" :name="name" v-if="view === 3" />
    <Media :itemId="itemId" v-if="view === 4"/>
</div>