<template src="./Add.html">
</template>
<script>


    export default {
        created() {
            this.$store.dispatch('lookup/getCustomers')
        },
        computed: {
            customers() {
                return this.$store.state.lookup.customers
            },
            allHallBranches() {
                return this.$store.getters["lookup/allHallBranches"]
            },
            // availibleAppointments(){
            //     return this.$store.state.hallReservations.availibleAppointments
            // },
            loading() {
                return this.$store.state.lookup.loading
            },
            hallServices() {
                return this.$store.state.lookup.hallServices
            },
        },
        watch:{
            // 'details.hallAppointmentId': function (val){
            //     this.checkAvailibility(val)
            //     //to work with changes in someOtherProp
            // },
            'hallReservation.hallBranchId': function (val){
                this.getHallServices(val);
                if(this.hallReservation.reservationDate) this.getAvailibleAppointments()
            },
            'hallReservation.reservationDate': function (){
                if(this.hallReservation.reservationDate && this.hallReservation.hallBranchId) {
                    this.getAvailibleAppointments()
                }
            },
            // serviceId(val){
            //     this.servicePrice(val)
            //     //to work with changes in someOtherProp
            // },
        },

        data: () => ({
            hallReservation: {
                customerId: null,
                reservationDate: null,
                hallBranchId: null,
                hallReservationDetails: [
                    // {
                    //     hallAppointmentId: null,
                    //     services: [0]
                    // }
                ],
            },
            availibleAppointments:[],
            selectedAppointments:[
                // {
                //     reservationType:"",
                //     startTime:"",
                //     endTime:"",
                //     price:"",
                // }
            ],
            details: [],
            // serviceId: null,
            dialog: false,
            hallAppointmentId: null
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            openDialog(item){
                this.hallAppointmentId = item.hallAppointmentId;
                this.dialog = true;
            },
            closeDialog(){
                this.dialog = false;
                this.hallAppointmentId = null;
            },
            // getPrice(id){
            //     this.$store.dispatch('hallReservations/getPrice', id)
            // },
            getHallServices(val){
                this.$store.dispatch('lookup/getHallServices', val)
            },
            
            getAvailibleAppointments(){
                this.$store.dispatch('hallReservations/getAvailibleAppointments',{
                    branchId: this.hallReservation.hallBranchId, 
                    reservationDate: this.hallReservation.reservationDate,
                }).then(res=>{
                    this.availibleAppointments = res
                    this.selectedAppointments = [];
                    this.details = [];
                    this.hallReservation.hallReservationDetails = []
                })
            },
            // appointmentPrice(id){
            //     this.$store.dispatch('hallReservations/appointmentPrice', id)
            //             .then(res => {
            //                 this.details.price = res
            //             })
            //             .catch(() => { });
            // },
            addDetails(){
                //let newAvaililble = this.availibleAppointments;
                this.details.forEach(hallAppointmentId => {
                    this.hallReservation.hallReservationDetails.push({
                        hallAppointmentId,
                        services: []
                    })
                    let selected = this.availibleAppointments.find(x => x.hallAppointmentId == hallAppointmentId);
                    this.availibleAppointments = this.availibleAppointments.filter(x => x.hallAppointmentId != hallAppointmentId)
                    if(selected) this.selectedAppointments.push(selected)
                });
                //if(newAvaililble.length > 0) this.availibleAppointments = newAvaililble;

                this.details = []
            },
            deleteAppointment(item,i){
                let index = this.hallReservation.hallReservationDetails.findIndex(x => x == item.hallAppointmentId)
                this.hallReservation.hallReservationDetails.splice(index,1)
                this.selectedAppointments.splice(i,1)
                this.availibleAppointments.push(item)
            },
            // viewServices(item,index){
            //     this
            // },
            // servicePrice(id){
            //     this.$store.dispatch('hallReservations/servicePrice', id)
            //             .then(() => {
            //                 this.clear();
            //                 this.back()
            //             })
            //             .catch(() => { });
            // },
            // checkAvailibility(appointmentId){
            //     this.$store.dispatch('hallReservations/checkAvailibility', {
            //         branchId: this.hallReservation.hallBranchId,
            //         reservationDate: this.hallReservation.reservationDate,
            //         appointmentId 
            //     })
            //             .then(() => {
            //                 this.appointmentPrice(appointmentId)
            //             })
            //             .catch(() => { });
            // },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('hallReservations/add', this.hallReservation)
                        .then(() => {
                            this.clear();
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                // this.hallReservation.hallId = null;
                // this.hallReservation.customerId = null;
                // this.hallReservation.qty = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>