<template src="./Edit.html">
</template>
<script>


    export default {
        props: ["itemId"],
        created() {
            this.$store.dispatch('lookup/getCustomers')
            this.$store.dispatch('hallReservations/getForEdit', this.itemId).then((res) => {
                this.hallReservation = res.data.hallReservation
                this.availibleAppointments = res.availibleAppointments
                this.selectedAppointments = res.data.selectedAppointments
                this.getHallServices(this.hallReservation.hallBranchId)
            });
        },
        computed: {
            customers() {
                return this.$store.state.lookup.customers
            },
            allHallBranches() {
                return this.$store.getters["lookup/allHallBranches"]
            },
            loading() {
                return this.$store.state.lookup.loading
            },
            hallServices() {
                return this.$store.state.lookup.hallServices
            },
        },

        data: () => ({
            hallReservation: {
                customerId: null,
                reservationDate: null,
                hallBranchId: null,
                hallReservationDetails: [
                    // {
                    //     hallAppointmentId: null,
                    //     services: [0]
                    // }
                ],
            },
            availibleAppointments:[],
            selectedAppointments:[],
            details: [],
            dialog: false,
            hallAppointmentId: null
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            changeBranch(){
                this.getHallServices(this.hallReservation.hallBranchId);
                if(this.hallReservation.reservationDate) this.getAvailibleAppointments()
            },
            changeAppointment(){
                if(this.hallReservation.reservationDate && this.hallReservation.hallBranchId) {
                    this.getAvailibleAppointments()
                }
            },
            openDialog(item){
                this.hallAppointmentId = item.hallAppointmentId;
                this.dialog = true;
            },
            closeDialog(){
                this.dialog = false;
                this.hallAppointmentId = null;
            },
            getHallServices(val){
                this.$store.dispatch('lookup/getHallServices', val)
            },
            
            getAvailibleAppointments(){
                this.$store.dispatch('hallReservations/getAvailibleAppointments',{
                    branchId: this.hallReservation.hallBranchId, 
                    reservationDate: this.hallReservation.reservationDate,
                }).then(res=>{
                    this.availibleAppointments = res
                    this.selectedAppointments = [];
                    this.details = [];
                    this.hallReservation.hallReservationDetails = []
                })
            },
            addDetails(){
                //let newAvaililble = this.availibleAppointments;
                this.details.forEach(hallAppointmentId => {
                    this.hallReservation.hallReservationDetails.push({
                        hallAppointmentId,
                        services: []
                    })
                    let selected = this.availibleAppointments.find(x => x.hallAppointmentId == hallAppointmentId);
                    this.availibleAppointments = this.availibleAppointments.filter(x => x.hallAppointmentId != hallAppointmentId)
                    if(selected) this.selectedAppointments.push(selected)
                });
                //if(newAvaililble.length > 0) this.availibleAppointments = newAvaililble;

                this.details = []
            },
            deleteAppointment(item,i){
                let index = this.hallReservation.hallReservationDetails.findIndex(x => x == item.hallAppointmentId)
                this.hallReservation.hallReservationDetails.splice(index,1)
                this.selectedAppointments.splice(i,1)
                this.availibleAppointments.push(item)
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('hallReservations/edit', {
                        id: this.itemId,
                        payload: this.hallReservation
                    })
                        .then(() => {
                            this.clear();
                            this.back()
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                // this.hallReservation.hallId = null;
                // this.hallReservation.customerId = null;
                // this.hallReservation.qty = null;
                this.$refs.observer.reset()
            },
        },
    }
</script>