﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تعديل حجز </v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>
        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="hallBranchId" rules="required">
                            <v-select v-model="hallReservation.hallBranchId" :items="allHallBranches" label="الصالة" required
                                :loading="loading" :error-messages="errors" @change="changeBranch" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="reservationDate" rules="required">
                            <DatePicker @change="changeAppointment" v-if="hallReservation.reservationDate" v-model="hallReservation.reservationDate" label="يوم الحجز" />
                        </validation-provider>

                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="customerId" rules="required">
                            <v-select v-model="hallReservation.customerId" :items="customers" label="الزبون" required
                                :loading="loading" :error-messages="errors" />
                        </validation-provider>
                    </v-col>
                </v-row>
                
                <v-row>
                    <v-card-text>
                        <v-toolbar flat>
                            المواعيد المختارة
                            <v-spacer />
                        </v-toolbar>
                        <v-divider />

                        <v-simple-table height="300px">
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th>نوع الحجز</th>
                                        <th>من</th>
                                        <th>الي</th>
                                        <th>السعر</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,i) in selectedAppointments" :key="i">
                                        <td>{{item.reservationType}}</td>
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <td>{{item.price}}</td>
                                        <td>
                                            <v-icon small @click="deleteAppointment(item,i)">
                                                mdi-delete
                                            </v-icon>
                                            <v-icon small @click="openDialog(item)">
                                                mdi-eye
                                            </v-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-card-text>
<!--***************************************************************************************************************-->
                    <v-dialog v-model="dialog" max-width="500px" persistent>
                        <v-card>
                          <v-card-title class="headline">الخدمات</v-card-title>
                            <v-simple-table height="300px">
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>الخدمة</th>
                                            <th>السعر</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,i) in hallServices" :key="i">
                                            <td>
                                                <v-checkbox
                                                    v-model="hallReservation.hallReservationDetails.find(x => x.hallAppointmentId == hallAppointmentId).services"
                                                    :label="item.value.toString()"
                                                    :value="item.value"/>
                                            </td>
                                            <td>{{item.text}}</td>
                                            <td>{{item.price}}</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDialog">إغلاق</v-btn>
                                <v-spacer></v-spacer>
                              </v-card-actions>
                        </v-card>
                      </v-dialog>
<!--***************************************************************************************************************-->
                </v-row>
                <v-row>
                    <v-card-text>
                        <v-toolbar flat>
                            <v-spacer />
                            <v-btn small color="primary" dark @click="addDetails">
                                إضافة موعد
                            </v-btn>

                        </v-toolbar>
                        <v-divider />

                        <v-simple-table height="300px">
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>نوع الحجز</th>
                                        <th>من</th>
                                        <th>الي</th>
                                        <th>السعر</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,i) in availibleAppointments" :key="i">
                                        <td>
                                            <v-checkbox
                                                v-model="details"
                                                :label="item.hallAppointmentId.toString()"
                                                :value="item.hallAppointmentId"/>
                                        </td>
                                        <td>{{item.reservationType}}</td>
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <td>{{item.price}}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-card-text>
                </v-row>

                <v-row no-gutters class="mt-10">
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid || !selectedAppointments.length">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>



    </v-container>
</div>