<div class="row">
    <div class="col-md-12" v-if="status==0">
        <div class="card">
            <div class="card-header card-header-info table-header">
                <h4 class="card-title ">فروع الصالات</h4>
                <el-button class="btn pull-left" @click.prevent="change">إضافة فرع <i class="material-icons">add</i></el-button>
            </div>
            <div class="card-body">
                <el-form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <el-form-item>
                                    <el-select v-loading="loading" v-model="filter.hallId" @change="reload">
                                        <el-option v-for="hall in halls" :key="hall.hallId" :label="hall.hallName"
                                                   :value="hall.hallId"></el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <el-form-item>
                                    <el-input type="text" placeholder="بحث بالعنوان"
                                              clearable
                                              class="form-control"
                                              @clear="reload"
                                              v-model="filter.searchByAddress">
                                        <i slot="prefix" class="el-input__icon el-icon-search" @click="reload"></i>
                                    </el-input>
                                </el-form-item>
                            </div>
                        </div>
                    </div>
                </el-form>
                <div class="table-responsive">
                    <el-alert v-if="!hallBranches.length && !filter.hallId"
                              title="يرجي اختيار الصالة المطلوب عرض فروعها"
                              type="warning"
                              :closable="false">
                    </el-alert>
                    <el-alert v-else-if="!hallBranches.length && filter.hallId" title=" لا يوجد بيانات لهذه الصالة"
                              type="warning"
                              :closable="false">
                    </el-alert>
                    <table class="table" v-else>
                        <thead class=" text-info">
                        <th>عنوان الفرع</th>
                        <th>رقم الهاتف</th>
                        <!--<th>ايام العمل</th>-->
                        <th>ساعات العمل</th>
                        <th>منشأ بواسطة</th>
                        <th>منشأ بتاريخ</th>
                        <th>الإجراءات</th>
                        </thead>
                        <tbody>
                            <tr v-for="(branch,index) in hallBranches">
                                <td>{{branch.addressName}}</td>
                                <td>{{branch.phoneNo1}}</td>
                                <!--<td>{{branch.workDays}}</td>-->
                                <td>{{branch.workTimes}}</td>
                                <td>{{branch.adminName}}</td>
                                <td>{{branch.createdOn}}</td>

                                <td>
                                    <el-tooltip class="item" effect="dark" content="عرض" placement="top">
                                        <i class="material-icons" @click="viewHallBranch(index)">visibility</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="تعديل" placement="top">
                                        <i class="material-icons" @click="editHallBranch(index)">edit</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="اضافة ميديا" placement="top">
                                        <i class="material-icons" @click="addMedia(index)">perm_media</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="اشتراك" placement="top">
                                        <i class="material-icons" @click="addSubscription(index)">add</i>
                                    </el-tooltip>
                                    <el-tooltip v-if="branch.status == 0" class="item" effect="dark" content="تجميد" placement="top">
                                        <i class="material-icons" @click="lockHallBranch(branch)">lock_open</i>
                                    </el-tooltip>
                                    <el-tooltip v-if="branch.status == 2" class="item" effect="dark" content="فك تجميد" placement="top">
                                        <i class="material-icons" @click="unlockHallBranch(branch)">lock_outline</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="حذف" placement="top">
                                        <i class="material-icons" @click="deleteHallBranch(branch)">delete</i>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" v-if="branch.hallBranchId != branch.mainBranchId"
                                                content="تعيين كفرع رئيسي" placement="top">
                                        <i class="material-icons" @click="assignMainBranch(branch)">home</i>
                                    </el-tooltip>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <el-pagination layout="prev, pager, next"
                               :page-size="filter.pageSize"
                               :total="total"
                               :current-page.sync="filter.pageNo"
                               @current-change="pageChanged">
                </el-pagination>
            </div>
        </div>
    </div>
    <add-hall-branch v-if="status === 1"></add-hall-branch>
    <edit-hall-branch :hallBranchId="hallBranchId" v-if="status === 2"></edit-hall-branch>
    <view-hall-branch :hallBranchId="hallBranchId" v-if="status === 3"></view-hall-branch>
    <add-media :hallBranchId="hallBranchId" v-if="status === 4"></add-media>
    <add-subscription :hallBranchId="hallBranchId" v-if="status === 5"></add-subscription>

</div>