﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل الحجز</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>
        </v-toolbar>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.storeName"
                                  readonly
                                  label="اسم المحل" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.customerName"
                                  readonly
                                  label="اسم الزبون" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.description"
                                  readonly
                                  label="وصف الحجز" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                <v-text-field v-model="storeReservation.day"
                              readonly
                              label="اليوم" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.startTime"
                                readonly
                                label="وقت الحجز من" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.endTime"
                                readonly
                                label="الي" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="12">
                    <v-text-field v-model="storeReservation.price"
                                  readonly
                                  label="السعر" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.createdBy"
                                  readonly
                                  label="منشأ بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="storeReservation.createdOn"
                              readonly
                              label="تاريخ الانشاء" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="storeReservation.ModifiedBy"
                                  readonly
                                  label="معدل بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="storeReservation.ModifiedOn"
                              readonly
                              label="تاريخ التعديل" >
                </v-text-field>
            </v-col>
        </v-row>
    </v-container>
</div>