﻿<template src="./Index.html"></template>

<script>
import Details from "./details/Details";
export default {
  components: {
    Details,
  },
  created() {
    this.getAll();
  },
  computed: {
    total() {
      return this.$store.state.customers.total;
    },
    customers() {
      return this.$store.state.customers.customers;
    },
  },
  data: () => ({
    view: 0,
    itemId: null,
    filter: {
      pageNo: 1,
      pageSize: 10,
      search: "",
    },
    dialog: false,
    dialogOperation: "",
    headers: [
      { text: "اسم الزبون", value: "customerName" },
      { text: "اسم الدخول", value: "loginName" },
      { text: "رقم الهاتف", value: "phoneNo1" },
      { text: "منشا بواسطة", value: "createdBy" },
      { text: "تاريخ الانشاء", value: "createdOn" },
      { text: "Actions", value: "actions", sortable: false },
    ],
  }),

  methods: {
    getAll() {
      this.$store.dispatch("customers/getAll", this.filter);
    },
    reload() {
      this.filter.pageNo = 1;
      this.getAll();
    },
    pageChanged(pageNo) {
      this.filter.pageNo = pageNo;
      this.getAll();
    },
    details(item) {
      this.itemId = item.customerId;
      this.view = 3;
    },
    lock(item) {
      this.itemId = item.customerId;
      this.dialog = true;
      this.dialogOperation = "lock";
    },
    unlock(item) {
      this.itemId = item.customerId;
      this.dialog = true;
      this.dialogOperation = "unlock";
    },
    resetPassword(item) {
      this.itemId = item.customerId;
      this.dialog = true;
      this.dialogOperation = "resetPassword";
    },
    dialogConfirm() {
      this.$store
        .dispatch(`customers/${this.dialogOperation}`, this.itemId)
        .then(() => {
          this.closeDialog();
        });
    },
    closeDialog() {
      this.dialog = false;
      this.dialogOperation = "";
      this.itemId = null;
    },
  },
};
</script>