<div>
    <div v-if="view === 0">
        <v-data-table :headers="headers"
                      :items="customers"
                      class="elevation-1"
                      disable-pagination
                      hide-default-footer
                      no-data-text="لا يوجد بيانات متاحة">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>
                        <v-col cols="12" class="mr-4">
                            <v-text-field append-icon="mdi-magnify" @click:append="reload"
                                          v-model="filter.search" label="بحث"/>
                        </v-col>
                    </v-toolbar-title>
                    <Dialog @close="closeDialog" @confirm="dialogConfirm" :dialog="dialog" />
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="details(item)">
                    mdi-eye
                </v-icon>

                <v-icon small @click="lock(item)" v-if="item.status == 1">
                    mdi-lock
                </v-icon>
                <v-icon small @click="unlock(item)" v-if="item.status == 2">
                    mdi-lock-open
                </v-icon>
                <v-icon small @click="resetPassword(item)" >
                    mdi-key
                </v-icon>
            </template>

        </v-data-table>
        <div class="text-center secondary">
            <v-pagination v-model="filter.pageNo"
                          :length="total"
                          circle
                          @input="pageChanged">
            </v-pagination>
        </div>
    </div>
    <!----------------------------------------------------------------------->
    <Details :itemId="itemId" v-if="view === 3" />
</div>

