<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info table-header">
      <h4 class="card-title">عرض بيانات المستخدم</h4>
      <el-button type="submit" class="btn pull-left" @click="back">رجوع</el-button>

    </div>

    <div class="card-body">
      <el-form class="view-form">

        <div class="clearfix"></div>
        <!----------------------بيانات المستخدم ------------------------>

        <el-divider content-position="right">
          بيانات الفرع
        </el-divider>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم المستخدم</label>
              <el-form-item>
                <label>{{customer.customerName}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">اسم الدخول</label>
              <el-form-item>
                <label>{{customer.loginName}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">البريد الالكتروني</label>
              <el-form-item>
                <label>{{customer.email}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 1</label>
              <el-form-item>
                <label>{{customer.phoneNo1}}</label>
              </el-form-item>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">رقم الهاتف 2</label>
              <el-form-item>
                <label>{{customer.phoneNo2}}</label>
              </el-form-item>
            </div>
          </div>
        </div>


        <el-divider content-position="right">
          الصالات المحجوزة
        </el-divider>
        <el-alert v-if="!customer.hallReservations.length" title=" لا يوجد بيانات حجوزات صالة" type="warning"
          :closable="false">
        </el-alert>
        <el-form v-else class="view-form">
          <div class="row" v-for="r in customer.hallReservations">
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">تاريخ الحجز</label>
                <el-form-item>
                  <label>{{r.reservationDate}}</label>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">الصالة</label>
                <el-form-item>
                  <label>{{r.hall}}</label>
                </el-form-item>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">اجمالي السعر</label>
                <el-form-item>
                  <label>{{r.total}}</label>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">الحالة</label>
                <el-form-item>
                  <label>{{r.status}}</label>
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </el-form>

        <el-divider content-position="right">
          المنتجات المحجوزة
        </el-divider>
        <el-alert v-if="!customer.productReservations.length" title=" لا يوجد بيانات حجوزات منتج" type="warning"
          :closable="false">
        </el-alert>
        <el-form v-else class="view-form">
          <div class="row" v-for="r in customer.productReservations">
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">تاريخ الحجز</label>
                <el-form-item>
                  <label>{{r.reservationDate}}</label>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">المنتج</label>
                <el-form-item>
                  <label>{{r.product}}</label>
                </el-form-item>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">اجمالي السعر</label>
                <el-form-item>
                  <label>{{r.total}}</label>
                </el-form-item>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">الحالة</label>
                <el-form-item>
                  <label>{{r.status}}</label>
                </el-form-item>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </el-form>
      </el-form>
    </div>
  </div>
</div>