﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل المستخدم</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>
        </v-toolbar>                                        

        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.userName"
                                  readonly
                                  label="اسم الزبون" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.loginName"
                                  readonly
                                  label="اسم الدخول" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.email"
                                  readonly
                                  label="البريد الالكتروني" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.phoneNo1"
                                  readonly
                                  label="رقم الهاتف" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.phoneNo2"
                                  readonly
                                  label="رقم الهاتف 2" >
                    </v-text-field>
            </v-col>
        </v-row>
        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.createdBy"
                                  readonly
                                  label="منشأ بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="farhiUser.createdOn"
                              readonly
                              label="تاريخ الانشاء" >
                </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="farhiUser.modifiedBy"
                                  readonly
                                  label="معدل بواسطة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="farhiUser.modifiedOn"
                              readonly
                              label="تاريخ التعديل" >
                </v-text-field>
            </v-col>
        </v-row>

        <h2 class="py-5">الصالات</h2>
        <v-divider class="my-5"/>

            <v-alert v-if="farhiUser.halls.length == 0" outlined type="warning"> لا توجد فروع مختارة</v-alert>

            <v-expansion-panels v-else>
                <v-expansion-panel v-for="(item, i) in farhiUser.halls">
                    <v-expansion-panel-header>
                    {{item.hallName}}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <div v-for="(item2, i2) in item.branches" :key="i2">
                            <li>{{item2}}</li>
                        </div>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>

        <h2 class="py-5">المحلات</h2>
        <v-divider class="my-5"/>

            <v-alert v-if="farhiUser.stores.length == 0" outlined type="warning"> لا توجد فروع مختارة</v-alert>

            <v-expansion-panels v-else>
                <v-expansion-panel v-for="(item, i) in farhiUser.stores" :key="i">
                    <v-expansion-panel-header>
                    {{item.storeName}}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <div v-for="(item2, i2) in item.branches" :key="i2">
                            <li>{{item2}}</li>
                        </div>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>

        <h2 class="py-5">الصلاحيات</h2>
        <v-divider class="my-5"/>

            <v-alert v-if="farhiUser.features.length == 0" outlined type="warning"> لا توجد صلاحيات مختارة</v-alert>

            <v-expansion-panels v-else>
                <v-expansion-panel v-for="(item, i) in farhiUser.features" :key="i">
                    <v-expansion-panel-header>
                    {{item.featureName}}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <div v-for="(item2, i2) in item.permissions" :key="i2">
                            <li>{{item2}}</li>
                        </div>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>

    </v-container>
</div>