﻿<template src="./Index.html">
</template>

<script>
    import Add from './actions/Add'
    import Edit from './actions/Edit'
    import Details from './details/Details'
    export default {
        components: {
            Add,
            Edit,
            Details,
        },
        created(){
            this.getAll();
        },
        
        watch: {
            dialog(val) {
                val || this.closeDialog()
            },
        },
        computed: {
            farhiUsers() {
                return this.$store.state.farhiUsers.farhiUsers
            },
            total() {
                return Math.floor(this.$store.state.farhiUsers.total / this.filter.pageSize);
            },
            loading(){
                return this.$store.state.lookup.loading
            },
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                search: ""
            },
            dialog: false,
            dialogOperation: "",
            headers: [
                { text: 'اسم المستخدم', value: 'userName' },
                { text: 'اسم الدخول', value: 'loginName' },
                { text: 'البريد الالكتروني', value: 'email',},
                { text: 'رقم الهاتف', value: 'phoneNo1' },
                { text: 'منشا بواسطة', value: 'createdBy' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
        }),

        methods: {
            getAll() {
                this.$store.dispatch('farhiUsers/getAll', this.filter);
            },
            add() {
                this.view = 1;
            },
            edit(item) {
                this.itemId = item.farhiUserId;
                this.view = 2;
            },
            details(item) {
                this.itemId = item.farhiUserId;
                this.view = 3;
            },
            lock(item) {
              this.itemId = item.farhiUserId;
              this.dialog = true;
              this.dialogOperation = "lock";
            },
            unlock(item) {
              this.itemId = item.farhiUserId;
              this.dialog = true;
              this.dialogOperation = "unlock";
            },
            deleteItem(item){
              this.itemId = item.farhiUserId;
              this.dialog = true;
              this.dialogOperation = "delete";
            },
            resetPassword(item) {
              this.itemId = item.farhiUserId;
              this.dialog = true;
              this.dialogOperation = "resetPassword";
            },
            dialogConfirm() {
              this.dialog = false
                this.$store.dispatch(`farhiUsers/${this.dialogOperation}`, this.itemId).then(()=>{
                    this.closeDialog()
                })
            },

            closeDialog() {
                this.dialog = false
                this.dialogOperation = ""
                this.itemId = null;
            },
            reload() {
                this.filter.pageNo = 1;
                this.getAll();
            },
            pageChange(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>